

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-519671958615360689.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-519671958615360689.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-519671958615360689.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-519671958615360689.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-519671958615360689.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-519671958615360689.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-519671958615360689.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-519671958615360689.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-519671958615360689.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-519671958615360689.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-519671958615360689.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-519671958615360689.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-519671958615360689.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-519671958615360689.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-519671958615360689.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-519671958615360689.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-519671958615360689.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-519671958615360689.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-519671958615360689.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-519671958615360689.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-519671958615360689.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-519671958615360689.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-519671958615360689.gps.gpsil [style*="--left:"]{left:var(--left)}.gps-519671958615360689.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-519671958615360689.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-519671958615360689.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-519671958615360689.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-519671958615360689.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-519671958615360689.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-519671958615360689.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-519671958615360689.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-519671958615360689.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-519671958615360689.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-519671958615360689.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-519671958615360689.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-519671958615360689.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-519671958615360689.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-519671958615360689.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-519671958615360689.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-519671958615360689.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-519671958615360689.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-519671958615360689.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-519671958615360689.gps.gpsil [style*="--z:"]{z-index:var(--z)}.gps-519671958615360689.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1023px){.gps-519671958615360689.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-519671958615360689.gps.gpsil [style*="--bga-tablet:"]{background-attachment:var(--bga-tablet)}.gps-519671958615360689.gps.gpsil [style*="--bgc-tablet:"]{background-color:var(--bgc-tablet)}.gps-519671958615360689.gps.gpsil [style*="--bgi-tablet:"]{background-image:var(--bgi-tablet)}.gps-519671958615360689.gps.gpsil [style*="--bgp-tablet:"]{background-position:var(--bgp-tablet)}.gps-519671958615360689.gps.gpsil [style*="--bgr-tablet:"]{background-repeat:var(--bgr-tablet)}.gps-519671958615360689.gps.gpsil [style*="--bgs-tablet:"]{background-size:var(--bgs-tablet)}.gps-519671958615360689.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-519671958615360689.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-519671958615360689.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-519671958615360689.gps.gpsil [style*="--pc-tablet:"]{place-content:var(--pc-tablet)}.gps-519671958615360689.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-519671958615360689.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-519671958615360689.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-519671958615360689.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-519671958615360689.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-519671958615360689.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-519671958615360689.gps.gpsil [style*="--bga-mobile:"]{background-attachment:var(--bga-mobile)}.gps-519671958615360689.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-519671958615360689.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-519671958615360689.gps.gpsil [style*="--bgp-mobile:"]{background-position:var(--bgp-mobile)}.gps-519671958615360689.gps.gpsil [style*="--bgr-mobile:"]{background-repeat:var(--bgr-mobile)}.gps-519671958615360689.gps.gpsil [style*="--bgs-mobile:"]{background-size:var(--bgs-mobile)}.gps-519671958615360689.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-519671958615360689.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-519671958615360689.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-519671958615360689.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-519671958615360689.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-519671958615360689.gps.gpsil [style*="--pc-mobile:"]{place-content:var(--pc-mobile)}.gps-519671958615360689.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-519671958615360689.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-519671958615360689.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-519671958615360689.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-519671958615360689.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-519671958615360689 .group-hover\/hero\:gp-scale-\[var\(--scale\)\]{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-519671958615360689 .gp-absolute{position:absolute}.gps-519671958615360689 .gp-relative{position:relative}.gps-519671958615360689 .gp-inset-0{inset:0}.gps-519671958615360689 .gp-left-\[var\(--left\)\]{left:var(--left)}.gps-519671958615360689 .gp-top-\[var\(--top\)\]{top:var(--top)}.gps-519671958615360689 .gp-z-1{z-index:1}.gps-519671958615360689 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-519671958615360689 .gp-mb-0{margin-bottom:0}.gps-519671958615360689 .gp-flex{display:flex}.gps-519671958615360689 .gp-grid{display:grid}.gps-519671958615360689 .\!gp-hidden{display:none!important}.gps-519671958615360689 .gp-hidden{display:none}.gps-519671958615360689 .gp-h-full{height:100%}.gps-519671958615360689 .gp-w-full{width:100%}.gps-519671958615360689 .gp-max-w-full{max-width:100%}.gps-519671958615360689 .gp-flex-col{flex-direction:column}.gps-519671958615360689 .gp-items-center{align-items:center}.gps-519671958615360689 .\!gp-justify-end{justify-content:flex-end!important}.gps-519671958615360689 .gp-justify-center{justify-content:center}.gps-519671958615360689 .gp-gap-y-0{row-gap:0}.gps-519671958615360689 .gp-overflow-hidden{overflow:hidden}.gps-519671958615360689 .gp-bg-clip-content{background-clip:content-box}.gps-519671958615360689 .gp-transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-519671958615360689 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-519671958615360689 .gp-transition-transform{transition-duration:.15s;transition-property:transform;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-519671958615360689 .gp-duration-200{transition-duration:.2s}.gps-519671958615360689 .gp-duration-300{transition-duration:.3s}.gps-519671958615360689 .gp-duration-\[var\(--duration\)\]{transition-duration:var(--duration)}.gps-519671958615360689 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (hover:hover) and (pointer:fine){.gps-519671958615360689 .gp-group\/hero:hover .group-hover\/hero\:gp-scale-\[var\(--scale\)\]{--tw-scale-x:var(--scale);--tw-scale-y:var(--scale);transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-519671958615360689 .gp-group\/hero:hover .group-hover\/hero\:gp-bg-\[color\:var\(--hvr-bgc\2c _var\(--bgc\)\)\]{background-color:var(--hvr-bgc,var(--bgc))}.gps-519671958615360689 .gp-group\/hero:hover .group-hover\/hero\:gp-opacity-\[var\(--hvr-op\2c _var\(--op\)\)\]{opacity:var(--hvr-op,var(--op))}}@media (max-width:1023px){.gps-519671958615360689 .tablet\:gp-relative{position:relative}.gps-519671958615360689 .tablet\:\!gp-hidden{display:none!important}.gps-519671958615360689 .tablet\:gp-hidden{display:none}.gps-519671958615360689 .tablet\:\!gp-content-stretch{align-content:stretch!important}.gps-519671958615360689 .tablet\:\!gp-justify-end{justify-content:flex-end!important}}@media (max-width:767px){.gps-519671958615360689 .mobile\:gp-relative{position:relative}.gps-519671958615360689 .mobile\:\!gp-hidden{display:none!important}.gps-519671958615360689 .mobile\:gp-hidden{display:none}.gps-519671958615360689 .mobile\:\!gp-content-stretch{align-content:stretch!important}.gps-519671958615360689 .mobile\:\!gp-justify-end{justify-content:flex-end!important}}@media (max-width:1023px){.gps-519671958615360689 .tablet\:\[\&\>\*\]\:\!gp-justify-end>*{justify-content:flex-end!important}}@media (max-width:767px){.gps-519671958615360689 .mobile\:\[\&\>\*\]\:\!gp-justify-end>*{justify-content:flex-end!important}}.gps-519671958615360689 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-519671958615360689 .\[\&_p\]\:gp-inline p{display:inline}.gps-519671958615360689 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-519671958615360689 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

      
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="ga248ZZMxo"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:var(--g-s-4xl);--pl:15px;--pb:var(--g-s-3xl);--pr:15px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="ga248ZZMxo gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gJDJg5PtlX gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gSrbmzFdiB "
        style="--ta:left;--mb:var(--g-s-l);--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object]"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--ff:var(--g-font-ADLaM-Display, 'ADLaM Display'), var(--g-font-heading, heading);--weight:400;--size:46px;--size-tablet:46px;--size-mobile:41px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#F5A52D;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggSrbmzFdiB_text }}</h2>
      </div>
    </div>
      
      
    <div
      parentTag="Col" id="gElAI6WQJ2"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--cg:30px;--pc:start;--gtc:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gElAI6WQJ2 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gR6W1xaxKy gp-relative gp-flex gp-flex-col"
    >
      
    <div class="gp-flex gp-w-full" style="--h:463px;--h-tablet:463px;--h-mobile:432px;--d:flex;--d-mobile:flex;--d-tablet:flex;--mb:var(--g-s-l);--mb-mobile:var(--g-s-2xl)">
      <gp-hero-banner
        gp-data='{"background":{"desktop":{"attachment":"scroll","color":"bg-2","image":{"src":"https://cdn.shopify.com/s/files/1/0562/7419/0435/files/gempages_519084546960917294-78ab5e2a-57fd-44ab-8bdd-646d2291e571.jpg?v=1719282214","width":350,"height":350,"backupFileKey":"gempages_519084546960917294-78ab5e2a-57fd-44ab-8bdd-646d2291e571.jpg","storage":"FILE_CONTENT"},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image","videoHtml5":"https://media.w3.org/2010/05/sintel/trailer.mp4"},"tablet":{"attachment":"scroll","color":"bg-2","image":{"src":"https://cdn.shopify.com/s/files/1/0562/7419/0435/files/gempages_519084546960917294-78ab5e2a-57fd-44ab-8bdd-646d2291e571.jpg?v=1719282214","width":350,"height":350,"backupFileKey":"gempages_519084546960917294-78ab5e2a-57fd-44ab-8bdd-646d2291e571.jpg","storage":"FILE_CONTENT"},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image","videoHtml5":"https://media.w3.org/2010/05/sintel/trailer.mp4"},"mobile":{"attachment":"scroll","color":"bg-2","image":{"src":"https://cdn.shopify.com/s/files/1/0562/7419/0435/files/gempages_519084546960917294-78ab5e2a-57fd-44ab-8bdd-646d2291e571.jpg?v=1719282214","width":350,"height":350,"backupFileKey":"gempages_519084546960917294-78ab5e2a-57fd-44ab-8bdd-646d2291e571.jpg","storage":"FILE_CONTENT"},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image","videoHtml5":"https://media.w3.org/2010/05/sintel/trailer.mp4"}},"uid":"gBRNtoBJMp","enableParallax":false,"speedParallax":0.6}'
        
        class="gBRNtoBJMp gp-group/hero gp-flex gp-flex-col gp-transition-colors gp-duration-200 gp-ease-in-out gp-w-full"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--radius:var(--g-radius-none);--h:463px;--h-tablet:463px;--h-mobile:432px;--w:100%;--w-tablet:100%;--w-mobile:100%"
      >
        <div
        class="gp-relative gp-flex gp-flex-col gp-items-center gp-overflow-hidden !gp-justify-end tablet:!gp-justify-end mobile:!gp-justify-end"
          style="--h:463px;--h-tablet:463px;--h-mobile:432px"
        >
          
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
      assign mediaIndex = 1
      if forloop
        assign mediaIndex = forloop.index
      endif
      assign sectionPreload = "false"

      if section.settings.section_preload == 'true'
        assign sectionPreload = "true"
      endif
      if sectionPreload == "true" and mediaIndex == 1
        assign isFetchPriorityHigh = 'true'
      endif
  -%}
  <picture style="border-radius: inherit" class="gp-w-full">
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_519084546960917294-78ab5e2a-57fd-44ab-8bdd-646d2291e571.jpg" | file_img_url: 'master' }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_519084546960917294-78ab5e2a-57fd-44ab-8bdd-646d2291e571.jpg" | file_img_url: 'master' }}" />
        <img
          title
          class=""
          src="{{ "gempages_519084546960917294-78ab5e2a-57fd-44ab-8bdd-646d2291e571.jpg" | file_img_url: 'master' }}"
          alt=""
          fetchpriority="high"
          style="--aspect:350/350;--aspect-tablet:350/350;--aspect-mobile:350/350;--d:none;--d-tablet:none;--d-mobile:none;--h:463px;--h-tablet:463px;--h-mobile:432px;--w:100%;--w-tablet:100%;--w-mobile:100%;--op:0;--z:-1"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_519084546960917294-78ab5e2a-57fd-44ab-8bdd-646d2291e571.jpg" | file_img_url: 'master' }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_519084546960917294-78ab5e2a-57fd-44ab-8bdd-646d2291e571.jpg" | file_img_url: 'master' }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" />
      <img
        title
        class=" gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII="
        data-src="{{ "gempages_519084546960917294-78ab5e2a-57fd-44ab-8bdd-646d2291e571.jpg" | file_img_url: 'master' }}"
        alt=""
        style="--aspect:350/350;--aspect-tablet:350/350;--aspect-mobile:350/350;--d:none;--d-tablet:none;--d-mobile:none;--h:463px;--h-tablet:463px;--h-mobile:432px;--w:100%;--w-tablet:100%;--w-mobile:100%;--op:0;--z:-1"
      />
    {%- endif -%}
  </picture>
          <div class="gp-absolute gp-w-full gp-h-full">
            <div
              class="gp-overflow-hidden gp-w-full gp-h-full"
              style="--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;clip-path:inset(0 0)">
              <div
                aria-label="Background Image"
                role="banner"
                class="gp-hero-banner-bg gp-absolute gp-inset-0 gp-left-[var(--left)] gp-top-[var(--top)] gp-transition-transform gp-flex gp-items-center gp-justify-center gp-bg-clip-content gp-duration-[var(--duration)] group-hover/hero:gp-scale-[var(--scale)]"
                style="--bgc:var(--g-c-bg-2);--bgc-tablet:var(--g-c-bg-2);--bgc-mobile:var(--g-c-bg-2);--bgi:url({{ "gempages_519084546960917294-78ab5e2a-57fd-44ab-8bdd-646d2291e571.jpg" | file_url }});--bgi-tablet:url({{ "gempages_519084546960917294-78ab5e2a-57fd-44ab-8bdd-646d2291e571.jpg" | file_url }});--bgi-mobile:url({{ "gempages_519084546960917294-78ab5e2a-57fd-44ab-8bdd-646d2291e571.jpg" | file_url }});--bgp:50% 50%;--bgp-tablet:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-tablet:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-tablet:no-repeat;--bgr-mobile:no-repeat;--duration:0.5s;--scale:105%;--top:0;--left:0;--w:100%;--h:100%;--pos:absolute;--bga:scroll;--w-tablet:100%;--h-tablet:100%;--pos-tablet:absolute;--bga-tablet:scroll;--w-mobile:100%;--h-mobile:100%;--pos-mobile:absolute;--bga-mobile:scroll"
              >  </div>
            </div>
            <div
            aria-label="Overlay"
            role="banner"
            class="gp-absolute gp-inset-0 gp-left-[var(--left)] gp-top-[var(--top)] gp-transition-all gp-duration-300 group-hover/hero:gp-bg-[color:var(--hvr-bgc,_var(--bgc))] group-hover/hero:gp-opacity-[var(--hvr-op,_var(--op))]"
            style="--bgc:#121212;--top:0;--left:0;--op:0%"
          > </div>
          </div>
          <a
              href="/collections/all"
              target="_self"
              aria-label="Hero banner link"
              class="gp-absolute gp-inset-0 gp-z-1"
            > </a>
          
      
      
    <div
      id
        style="--cg:32px;--pc:end;--pc-tablet:end;--pc-mobile:end;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 1200px);--w-mobile:var(--g-ct-w, 1200px)"
        class="gp-hero-banner-row gp-z-1 gp-w-full tablet:gp-relative mobile:gp-relative tablet:[&>*>*]:!gp-justify-undefined mobile:[&>*>*]:!gp-justify-undefined tablet:!gp-content-stretch tablet:[&>*]:!gp-justify-end mobile:!gp-content-stretch mobile:[&>*]:!gp-justify-end gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gug8ViMYe2 gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="g2pi_FSPSp"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--ml:auto;--mb:var(--g-s-l);--mr:auto;--pl:var(--g-s-3xl);--pr:var(--g-s-3xl);--pl-mobile:var(--g-s-2xl);--pr-mobile:var(--g-s-2xl);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g2pi_FSPSp gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gQIwTM6x8z gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gMipUs4ojx"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-s);--pt:var(--g-s-m);--pl:var(--g-s-xl);--pb:var(--g-s-m);--pr:var(--g-s-xl);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#F5A52D;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gMipUs4ojx gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gTD2tuWCc6 gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="g63JYO11eH "
        style="--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--weight:700;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#ffffff;word-break:break-word;overflow:hidden"
        >{{ section.settings.gg63JYO11eH_text }}</div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div>
    </div>
  
    
        </div>
      </gp-hero-banner>
    </div>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-hero-banner.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gZOIpzulMT gp-relative gp-flex gp-flex-col"
    >
      
    <div class="gp-flex gp-w-full" style="--h:463px;--h-tablet:463px;--h-mobile:432px;--d:flex;--d-mobile:flex;--d-tablet:flex;--mb:var(--g-s-l);--mb-mobile:var(--g-s-2xl)">
      <gp-hero-banner
        gp-data='{"background":{"desktop":{"attachment":"scroll","color":"bg-2","image":{"src":"https://cdn.shopify.com/s/files/1/0562/7419/0435/files/gempages_519084546960917294-d88b945d-fe7a-4f70-b926-fe1a8a3ca8ef.jpg?v=1719282407","width":350,"height":350,"backupFileKey":"gempages_519084546960917294-d88b945d-fe7a-4f70-b926-fe1a8a3ca8ef.jpg","storage":"FILE_CONTENT"},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image","videoHtml5":"https://media.w3.org/2010/05/sintel/trailer.mp4"},"tablet":{"attachment":"scroll","color":"bg-2","image":{"src":"https://cdn.shopify.com/s/files/1/0562/7419/0435/files/gempages_519084546960917294-d88b945d-fe7a-4f70-b926-fe1a8a3ca8ef.jpg?v=1719282407","width":350,"height":350,"backupFileKey":"gempages_519084546960917294-d88b945d-fe7a-4f70-b926-fe1a8a3ca8ef.jpg","storage":"FILE_CONTENT"},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image","videoHtml5":"https://media.w3.org/2010/05/sintel/trailer.mp4"},"mobile":{"attachment":"scroll","color":"bg-2","image":{"src":"https://cdn.shopify.com/s/files/1/0562/7419/0435/files/gempages_519084546960917294-d88b945d-fe7a-4f70-b926-fe1a8a3ca8ef.jpg?v=1719282407","width":350,"height":350,"backupFileKey":"gempages_519084546960917294-d88b945d-fe7a-4f70-b926-fe1a8a3ca8ef.jpg","storage":"FILE_CONTENT"},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image","videoHtml5":"https://media.w3.org/2010/05/sintel/trailer.mp4"}},"uid":"gcRzlSXgwJ","enableParallax":false,"speedParallax":0.6}'
        
        class="gcRzlSXgwJ gp-group/hero gp-flex gp-flex-col gp-transition-colors gp-duration-200 gp-ease-in-out gp-w-full"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--radius:var(--g-radius-none);--h:463px;--h-tablet:463px;--h-mobile:432px;--w:100%;--w-tablet:100%;--w-mobile:100%"
      >
        <div
        class="gp-relative gp-flex gp-flex-col gp-items-center gp-overflow-hidden !gp-justify-end tablet:!gp-justify-end mobile:!gp-justify-end"
          style="--h:463px;--h-tablet:463px;--h-mobile:432px"
        >
          
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
      assign mediaIndex = 1
      if forloop
        assign mediaIndex = forloop.index
      endif
      assign sectionPreload = "false"

      if section.settings.section_preload == 'true'
        assign sectionPreload = "true"
      endif
      if sectionPreload == "true" and mediaIndex == 1
        assign isFetchPriorityHigh = 'true'
      endif
  -%}
  <picture style="border-radius: inherit" class="gp-w-full">
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_519084546960917294-d88b945d-fe7a-4f70-b926-fe1a8a3ca8ef.jpg" | file_img_url: 'master' }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_519084546960917294-d88b945d-fe7a-4f70-b926-fe1a8a3ca8ef.jpg" | file_img_url: 'master' }}" />
        <img
          title
          class=""
          src="{{ "gempages_519084546960917294-d88b945d-fe7a-4f70-b926-fe1a8a3ca8ef.jpg" | file_img_url: 'master' }}"
          alt=""
          fetchpriority="high"
          style="--aspect:350/350;--aspect-tablet:350/350;--aspect-mobile:350/350;--d:none;--d-tablet:none;--d-mobile:none;--h:463px;--h-tablet:463px;--h-mobile:432px;--w:100%;--w-tablet:100%;--w-mobile:100%;--op:0;--z:-1"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_519084546960917294-d88b945d-fe7a-4f70-b926-fe1a8a3ca8ef.jpg" | file_img_url: 'master' }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_519084546960917294-d88b945d-fe7a-4f70-b926-fe1a8a3ca8ef.jpg" | file_img_url: 'master' }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" />
      <img
        title
        class=" gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII="
        data-src="{{ "gempages_519084546960917294-d88b945d-fe7a-4f70-b926-fe1a8a3ca8ef.jpg" | file_img_url: 'master' }}"
        alt=""
        style="--aspect:350/350;--aspect-tablet:350/350;--aspect-mobile:350/350;--d:none;--d-tablet:none;--d-mobile:none;--h:463px;--h-tablet:463px;--h-mobile:432px;--w:100%;--w-tablet:100%;--w-mobile:100%;--op:0;--z:-1"
      />
    {%- endif -%}
  </picture>
          <div class="gp-absolute gp-w-full gp-h-full">
            <div
              class="gp-overflow-hidden gp-w-full gp-h-full"
              style="--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;clip-path:inset(0 0)">
              <div
                aria-label="Background Image"
                role="banner"
                class="gp-hero-banner-bg gp-absolute gp-inset-0 gp-left-[var(--left)] gp-top-[var(--top)] gp-transition-transform gp-flex gp-items-center gp-justify-center gp-bg-clip-content gp-duration-[var(--duration)] group-hover/hero:gp-scale-[var(--scale)]"
                style="--bgc:var(--g-c-bg-2);--bgc-tablet:var(--g-c-bg-2);--bgc-mobile:var(--g-c-bg-2);--bgi:url({{ "gempages_519084546960917294-d88b945d-fe7a-4f70-b926-fe1a8a3ca8ef.jpg" | file_url }});--bgi-tablet:url({{ "gempages_519084546960917294-d88b945d-fe7a-4f70-b926-fe1a8a3ca8ef.jpg" | file_url }});--bgi-mobile:url({{ "gempages_519084546960917294-d88b945d-fe7a-4f70-b926-fe1a8a3ca8ef.jpg" | file_url }});--bgp:50% 50%;--bgp-tablet:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-tablet:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-tablet:no-repeat;--bgr-mobile:no-repeat;--duration:0.5s;--scale:105%;--top:0;--left:0;--w:100%;--h:100%;--pos:absolute;--bga:scroll;--w-tablet:100%;--h-tablet:100%;--pos-tablet:absolute;--bga-tablet:scroll;--w-mobile:100%;--h-mobile:100%;--pos-mobile:absolute;--bga-mobile:scroll"
              >  </div>
            </div>
            <div
            aria-label="Overlay"
            role="banner"
            class="gp-absolute gp-inset-0 gp-left-[var(--left)] gp-top-[var(--top)] gp-transition-all gp-duration-300 group-hover/hero:gp-bg-[color:var(--hvr-bgc,_var(--bgc))] group-hover/hero:gp-opacity-[var(--hvr-op,_var(--op))]"
            style="--bgc:#121212;--top:0;--left:0;--op:0%"
          > </div>
          </div>
          <a
              href="#"
              target="_self"
              aria-label="Hero banner link"
              class="gp-absolute gp-inset-0 gp-z-1"
            > </a>
          
      
      
    <div
      id
        style="--cg:32px;--pc:end;--pc-tablet:end;--pc-mobile:end;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 1200px);--w-mobile:var(--g-ct-w, 1200px)"
        class="gp-hero-banner-row gp-z-1 gp-w-full tablet:gp-relative mobile:gp-relative tablet:[&>*>*]:!gp-justify-undefined mobile:[&>*>*]:!gp-justify-undefined tablet:!gp-content-stretch tablet:[&>*]:!gp-justify-end mobile:!gp-content-stretch mobile:[&>*]:!gp-justify-end gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gRuTgjpWe0 gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="g7luRXRHRa"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--ml:auto;--mb:var(--g-s-l);--mr:auto;--pl:var(--g-s-3xl);--pr:var(--g-s-3xl);--pl-mobile:var(--g-s-2xl);--pr-mobile:var(--g-s-2xl);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g7luRXRHRa gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gSWbB55AGf gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gOBGw7qwqI"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-s);--pt:var(--g-s-m);--pl:var(--g-s-xl);--pb:var(--g-s-m);--pr:var(--g-s-xl);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#F5A52D;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gOBGw7qwqI gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gsOj-tjwRI gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gT2eUaHqkr "
        style="--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--weight:700;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#ffffff;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggT2eUaHqkr_text }}</div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div>
    </div>
  
    
        </div>
      </gp-hero-banner>
    </div>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-hero-banner.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gGXL0RCKs9 gp-relative gp-flex gp-flex-col"
    >
      
    <div class="gp-flex gp-w-full" style="--h:463px;--h-tablet:463px;--h-mobile:432px;--d:flex;--d-mobile:flex;--d-tablet:flex;--mb:var(--g-s-l)">
      <gp-hero-banner
        gp-data='{"background":{"desktop":{"attachment":"scroll","color":"bg-2","image":{"src":"https://cdn.shopify.com/s/files/1/0562/7419/0435/files/gempages_519084546960917294-cf32892d-b89c-486f-8ca4-2acda8efe89c.jpg?v=1719189414","width":350,"height":350,"backupFileKey":"gempages_519084546960917294-cf32892d-b89c-486f-8ca4-2acda8efe89c.jpg","storage":"FILE_CONTENT"},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image","videoHtml5":"https://media.w3.org/2010/05/sintel/trailer.mp4"},"tablet":{"attachment":"scroll","color":"bg-2","image":{"src":"https://cdn.shopify.com/s/files/1/0562/7419/0435/files/gempages_519084546960917294-cf32892d-b89c-486f-8ca4-2acda8efe89c.jpg?v=1719189414","width":350,"height":350,"backupFileKey":"gempages_519084546960917294-cf32892d-b89c-486f-8ca4-2acda8efe89c.jpg","storage":"FILE_CONTENT"},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image","videoHtml5":"https://media.w3.org/2010/05/sintel/trailer.mp4"},"mobile":{"attachment":"scroll","color":"bg-2","image":{"src":"https://cdn.shopify.com/s/files/1/0562/7419/0435/files/gempages_519084546960917294-cf32892d-b89c-486f-8ca4-2acda8efe89c.jpg?v=1719189414","width":350,"height":350,"backupFileKey":"gempages_519084546960917294-cf32892d-b89c-486f-8ca4-2acda8efe89c.jpg","storage":"FILE_CONTENT"},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image","videoHtml5":"https://media.w3.org/2010/05/sintel/trailer.mp4"}},"uid":"g2fAjDe45r","enableParallax":false,"speedParallax":0.6}'
        
        class="g2fAjDe45r gp-group/hero gp-flex gp-flex-col gp-transition-colors gp-duration-200 gp-ease-in-out gp-w-full"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--radius:var(--g-radius-none);--h:463px;--h-tablet:463px;--h-mobile:432px;--w:100%;--w-tablet:100%;--w-mobile:100%"
      >
        <div
        class="gp-relative gp-flex gp-flex-col gp-items-center gp-overflow-hidden !gp-justify-end tablet:!gp-justify-end mobile:!gp-justify-end"
          style="--h:463px;--h-tablet:463px;--h-mobile:432px"
        >
          
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
      assign mediaIndex = 1
      if forloop
        assign mediaIndex = forloop.index
      endif
      assign sectionPreload = "false"

      if section.settings.section_preload == 'true'
        assign sectionPreload = "true"
      endif
      if sectionPreload == "true" and mediaIndex == 1
        assign isFetchPriorityHigh = 'true'
      endif
  -%}
  <picture style="border-radius: inherit" class="gp-w-full">
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_519084546960917294-cf32892d-b89c-486f-8ca4-2acda8efe89c.jpg" | file_img_url: 'master' }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_519084546960917294-cf32892d-b89c-486f-8ca4-2acda8efe89c.jpg" | file_img_url: 'master' }}" />
        <img
          title
          class=""
          src="{{ "gempages_519084546960917294-cf32892d-b89c-486f-8ca4-2acda8efe89c.jpg" | file_img_url: 'master' }}"
          alt=""
          fetchpriority="high"
          style="--aspect:350/350;--aspect-tablet:350/350;--aspect-mobile:350/350;--d:none;--d-tablet:none;--d-mobile:none;--h:463px;--h-tablet:463px;--h-mobile:432px;--w:100%;--w-tablet:100%;--w-mobile:100%;--op:0;--z:-1"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_519084546960917294-cf32892d-b89c-486f-8ca4-2acda8efe89c.jpg" | file_img_url: 'master' }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_519084546960917294-cf32892d-b89c-486f-8ca4-2acda8efe89c.jpg" | file_img_url: 'master' }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" />
      <img
        title
        class=" gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII="
        data-src="{{ "gempages_519084546960917294-cf32892d-b89c-486f-8ca4-2acda8efe89c.jpg" | file_img_url: 'master' }}"
        alt=""
        style="--aspect:350/350;--aspect-tablet:350/350;--aspect-mobile:350/350;--d:none;--d-tablet:none;--d-mobile:none;--h:463px;--h-tablet:463px;--h-mobile:432px;--w:100%;--w-tablet:100%;--w-mobile:100%;--op:0;--z:-1"
      />
    {%- endif -%}
  </picture>
          <div class="gp-absolute gp-w-full gp-h-full">
            <div
              class="gp-overflow-hidden gp-w-full gp-h-full"
              style="--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;clip-path:inset(0 0)">
              <div
                aria-label="Background Image"
                role="banner"
                class="gp-hero-banner-bg gp-absolute gp-inset-0 gp-left-[var(--left)] gp-top-[var(--top)] gp-transition-transform gp-flex gp-items-center gp-justify-center gp-bg-clip-content gp-duration-[var(--duration)] group-hover/hero:gp-scale-[var(--scale)]"
                style="--bgc:var(--g-c-bg-2);--bgc-tablet:var(--g-c-bg-2);--bgc-mobile:var(--g-c-bg-2);--bgi:url({{ "gempages_519084546960917294-cf32892d-b89c-486f-8ca4-2acda8efe89c.jpg" | file_url }});--bgi-tablet:url({{ "gempages_519084546960917294-cf32892d-b89c-486f-8ca4-2acda8efe89c.jpg" | file_url }});--bgi-mobile:url({{ "gempages_519084546960917294-cf32892d-b89c-486f-8ca4-2acda8efe89c.jpg" | file_url }});--bgp:50% 50%;--bgp-tablet:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-tablet:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-tablet:no-repeat;--bgr-mobile:no-repeat;--duration:0.5s;--scale:105%;--top:0;--left:0;--w:100%;--h:100%;--pos:absolute;--bga:scroll;--w-tablet:100%;--h-tablet:100%;--pos-tablet:absolute;--bga-tablet:scroll;--w-mobile:100%;--h-mobile:100%;--pos-mobile:absolute;--bga-mobile:scroll"
              >  </div>
            </div>
            <div
            aria-label="Overlay"
            role="banner"
            class="gp-absolute gp-inset-0 gp-left-[var(--left)] gp-top-[var(--top)] gp-transition-all gp-duration-300 group-hover/hero:gp-bg-[color:var(--hvr-bgc,_var(--bgc))] group-hover/hero:gp-opacity-[var(--hvr-op,_var(--op))]"
            style="--bgc:#121212;--top:0;--left:0;--op:0%"
          > </div>
          </div>
          <a
              href="#"
              target="_self"
              aria-label="Hero banner link"
              class="gp-absolute gp-inset-0 gp-z-1"
            > </a>
          
      
      
    <div
      id
        style="--cg:32px;--pc:end;--pc-tablet:end;--pc-mobile:end;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 1200px);--w-mobile:var(--g-ct-w, 1200px)"
        class="gp-hero-banner-row gp-z-1 gp-w-full tablet:gp-relative mobile:gp-relative tablet:[&>*>*]:!gp-justify-undefined mobile:[&>*>*]:!gp-justify-undefined tablet:!gp-content-stretch tablet:[&>*]:!gp-justify-end mobile:!gp-content-stretch mobile:[&>*]:!gp-justify-end gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="ggKn4QPNFB gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="giBMc36Ja5"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--ml:auto;--mb:var(--g-s-l);--mr:auto;--pl:var(--g-s-3xl);--pr:var(--g-s-3xl);--pl-mobile:var(--g-s-2xl);--pr-mobile:var(--g-s-2xl);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="giBMc36Ja5 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gIOlyuR42f gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gxSDIz9K_h"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-s);--pt:var(--g-s-m);--pl:var(--g-s-xl);--pb:var(--g-s-m);--pr:var(--g-s-xl);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#F5A52D;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gxSDIz9K_h gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gFcKcwNKJ0 gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="g5dbXMQyEN "
        style="--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--weight:700;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#242424;word-break:break-word;overflow:hidden"
        >{{ section.settings.gg5dbXMQyEN_text }}</div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div>
    </div>
  
    
        </div>
      </gp-hero-banner>
    </div>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-hero-banner.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
    </div>
  
    
    <div
      parentTag="Col"
        class="gCNetaqpX_ "
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object]"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--ff:var(--g-font-ADLaM-Display, 'ADLaM Display'), var(--g-font-heading, heading);--weight:400;--size:46px;--size-tablet:46px;--size-mobile:41px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#F5A52D;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggCNetaqpX__text }}</h2>
      </div>
    </div>
    </div>
    </div>
  
            </section>
          
    
<style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'ADLaM Display';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/adlamdisplay/v1/KFOhCnGXkPOLlhx6jD8_b1ZEOsbSlg.woff) format('woff');
}
/* adlam */
@font-face {
  font-family: 'ADLaM Display';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/adlamdisplay/v1/KFOhCnGXkPOLlhx6jD8_b1ZEOqTSkKJMc3uMAA.woff2) format('woff2');
  unicode-range: U+061F, U+0640, U+2015, U+201B, U+2020-2021, U+2030, U+204F, U+25CC, U+2E28-2E29, U+2E41, U+1E900-1E95F;
}
/* latin-ext */
@font-face {
  font-family: 'ADLaM Display';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/adlamdisplay/v1/KFOhCnGXkPOLlhx6jD8_b1ZEOsjSkKJMc3uMAA.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'ADLaM Display';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/adlamdisplay/v1/KFOhCnGXkPOLlhx6jD8_b1ZEOsbSkKJMc3s.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>

{% schema %}
  {
    
    "name": "Section 2",
    "tag": "section",
    "class": "gps-519671958615360689 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/30b28c/apps/bold/app/shopify/edit?pageType=GP_INDEX&editorId=519671922661786512&sectionId=519671958615360689)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"html","id":"ggSrbmzFdiB_text","label":"ggSrbmzFdiB_text","default":"OUR FAVORITES"},{"type":"html","id":"gg63JYO11eH_text","label":"gg63JYO11eH_text","default":"<p><strong>Food Dispensing Toy</strong></p>"},{"type":"html","id":"ggT2eUaHqkr_text","label":"ggT2eUaHqkr_text","default":"<p><strong>Dog Running leash</strong></p>"},{"type":"html","id":"gg5dbXMQyEN_text","label":"gg5dbXMQyEN_text","default":"<p><span style=\"color:#FCFCFC;\"><strong>Pets Water Dispenser</strong></span></p>"},{"type":"html","id":"ggCNetaqpX__text","label":"ggCNetaqpX__text","default":"<strong>OUR COLLECTIONS</strong>"}],
    "blocks": [{"type": "@app"}]
  }
{% endschema %}
