

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-519671959974314798.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-519671959974314798.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-519671959974314798.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-519671959974314798.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-519671959974314798.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-519671959974314798.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-519671959974314798.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-519671959974314798.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-519671959974314798.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-519671959974314798.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-519671959974314798.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-519671959974314798.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-519671959974314798.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-519671959974314798.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-519671959974314798.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-519671959974314798.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-519671959974314798.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-519671959974314798.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-519671959974314798.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-519671959974314798.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-519671959974314798.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-519671959974314798.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-519671959974314798.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-519671959974314798.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-519671959974314798.gps.gpsil [style*="--left:"]{left:var(--left)}.gps-519671959974314798.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-519671959974314798.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-519671959974314798.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-519671959974314798.gps.gpsil [style*="--tdc:"]{text-decoration-color:var(--tdc)}.gps-519671959974314798.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-519671959974314798.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-519671959974314798.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-519671959974314798.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-519671959974314798.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-519671959974314798.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-519671959974314798.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-519671959974314798.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-519671959974314798.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-519671959974314798.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-519671959974314798.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-519671959974314798.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-519671959974314798.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-519671959974314798.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-519671959974314798.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-519671959974314798.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-519671959974314798.gps.gpsil [style*="--z:"]{z-index:var(--z)}.gps-519671959974314798.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1023px){.gps-519671959974314798.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-519671959974314798.gps.gpsil [style*="--bga-tablet:"]{background-attachment:var(--bga-tablet)}.gps-519671959974314798.gps.gpsil [style*="--bgc-tablet:"]{background-color:var(--bgc-tablet)}.gps-519671959974314798.gps.gpsil [style*="--bgi-tablet:"]{background-image:var(--bgi-tablet)}.gps-519671959974314798.gps.gpsil [style*="--bgp-tablet:"]{background-position:var(--bgp-tablet)}.gps-519671959974314798.gps.gpsil [style*="--bgr-tablet:"]{background-repeat:var(--bgr-tablet)}.gps-519671959974314798.gps.gpsil [style*="--bgs-tablet:"]{background-size:var(--bgs-tablet)}.gps-519671959974314798.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-519671959974314798.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-519671959974314798.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-519671959974314798.gps.gpsil [style*="--pc-tablet:"]{place-content:var(--pc-tablet)}.gps-519671959974314798.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-519671959974314798.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-519671959974314798.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-519671959974314798.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-519671959974314798.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-519671959974314798.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-519671959974314798.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-519671959974314798.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-519671959974314798.gps.gpsil [style*="--bga-mobile:"]{background-attachment:var(--bga-mobile)}.gps-519671959974314798.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-519671959974314798.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-519671959974314798.gps.gpsil [style*="--bgp-mobile:"]{background-position:var(--bgp-mobile)}.gps-519671959974314798.gps.gpsil [style*="--bgr-mobile:"]{background-repeat:var(--bgr-mobile)}.gps-519671959974314798.gps.gpsil [style*="--bgs-mobile:"]{background-size:var(--bgs-mobile)}.gps-519671959974314798.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-519671959974314798.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-519671959974314798.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-519671959974314798.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-519671959974314798.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-519671959974314798.gps.gpsil [style*="--pc-mobile:"]{place-content:var(--pc-mobile)}.gps-519671959974314798.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-519671959974314798.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-519671959974314798.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-519671959974314798.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-519671959974314798.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-519671959974314798.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-519671959974314798.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-519671959974314798.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-519671959974314798 .gp-pointer-events-none{pointer-events:none}.gps-519671959974314798 .gp-invisible{visibility:hidden}.gps-519671959974314798 .gp-absolute{position:absolute}.gps-519671959974314798 .gp-relative{position:relative}.gps-519671959974314798 .gp-inset-0{inset:0}.gps-519671959974314798 .gp-left-\[var\(--left\)\]{left:var(--left)}.gps-519671959974314798 .gp-top-\[var\(--top\)\]{top:var(--top)}.gps-519671959974314798 .gp-z-1{z-index:1}.gps-519671959974314798 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-519671959974314798 .gp-mb-0{margin-bottom:0}.gps-519671959974314798 .gp-flex{display:flex}.gps-519671959974314798 .gp-inline-flex{display:inline-flex}.gps-519671959974314798 .gp-grid{display:grid}.gps-519671959974314798 .\!gp-hidden{display:none!important}.gps-519671959974314798 .gp-hidden{display:none}.gps-519671959974314798 .gp-h-5{height:20px}.gps-519671959974314798 .gp-h-full{height:100%}.gps-519671959974314798 .gp-w-5{width:20px}.gps-519671959974314798 .gp-w-full{width:100%}.gps-519671959974314798 .gp-max-w-full{max-width:100%}.gps-519671959974314798 .gp-flex-col{flex-direction:column}.gps-519671959974314798 .gp-items-center{align-items:center}.gps-519671959974314798 .\!gp-justify-end{justify-content:flex-end!important}.gps-519671959974314798 .gp-justify-center{justify-content:center}.gps-519671959974314798 .gp-gap-y-0{row-gap:0}.gps-519671959974314798 .gp-overflow-hidden{overflow:hidden}.gps-519671959974314798 .gp-break-words{overflow-wrap:break-word}.gps-519671959974314798 .gp-rounded-none{border-radius:0}.gps-519671959974314798 .gp-bg-clip-content{background-clip:content-box}.gps-519671959974314798 .gp-text-center{text-align:center}.gps-519671959974314798 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-519671959974314798 .gp-line-through{text-decoration-line:line-through}.gps-519671959974314798 .gp-no-underline{text-decoration-line:none}.gps-519671959974314798 .gp-decoration-g-text-1{text-decoration-color:var(--g-c-text-1)}.gps-519671959974314798 .gp-opacity-25{opacity:.25}.gps-519671959974314798 .gp-opacity-30{opacity:.3}.gps-519671959974314798 .gp-opacity-75{opacity:.75}.gps-519671959974314798 .gp-transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-519671959974314798 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-519671959974314798 .gp-transition-transform{transition-duration:.15s;transition-property:transform;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-519671959974314798 .gp-duration-200{transition-duration:.2s}.gps-519671959974314798 .gp-duration-300{transition-duration:.3s}.gps-519671959974314798 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-519671959974314798 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-519671959974314798 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-519671959974314798 .disabled\:gp-opacity-30:disabled{opacity:.3}@media (hover:hover) and (pointer:fine){.gps-519671959974314798 .gp-group\/hero:hover .group-hover\/hero\:gp-bg-\[color\:var\(--hvr-bgc\2c _var\(--bgc\)\)\]{background-color:var(--hvr-bgc,var(--bgc))}.gps-519671959974314798 .gp-group\/hero:hover .group-hover\/hero\:gp-opacity-\[var\(--hvr-op\2c _var\(--op\)\)\]{opacity:var(--hvr-op,var(--op))}}.gps-519671959974314798 .data-\[hidden\=true\]\:gp-hidden[data-hidden=true]{display:none}.gps-519671959974314798 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-visible{visibility:visible}.gps-519671959974314798 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@keyframes gp-spin{to{transform:rotate(1turn)}}.gps-519671959974314798 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-animate-spin{animation:gp-spin 1s linear infinite}@media (max-width:1023px){.gps-519671959974314798 .tablet\:gp-relative{position:relative}.gps-519671959974314798 .tablet\:\!gp-hidden{display:none!important}.gps-519671959974314798 .tablet\:gp-hidden{display:none}.gps-519671959974314798 .tablet\:\!gp-content-stretch{align-content:stretch!important}.gps-519671959974314798 .tablet\:\!gp-justify-end{justify-content:flex-end!important}}@media (max-width:767px){.gps-519671959974314798 .mobile\:gp-relative{position:relative}.gps-519671959974314798 .mobile\:\!gp-hidden{display:none!important}.gps-519671959974314798 .mobile\:gp-hidden{display:none}.gps-519671959974314798 .mobile\:\!gp-content-stretch{align-content:stretch!important}.gps-519671959974314798 .mobile\:\!gp-justify-end{justify-content:flex-end!important}}@media (max-width:1023px){.gps-519671959974314798 .tablet\:\[\&\>\*\]\:\!gp-justify-end>*{justify-content:flex-end!important}}@media (max-width:767px){.gps-519671959974314798 .mobile\:\[\&\>\*\]\:\!gp-justify-end>*{justify-content:flex-end!important}}.gps-519671959974314798 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-519671959974314798 .\[\&_p\]\:gp-inline p{display:inline}.gps-519671959974314798 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-519671959974314798 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-519671959974314798 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

      
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="g4F0SJb_v5"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:0px;--pl:15px;--pb:var(--g-s-3xl);--pr:15px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g4F0SJb_v5 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gEGEFpDs8G gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gKbwbtJnTJ"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-2xl);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gKbwbtJnTJ gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gjozgflsiv gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="g62AefBuIy "
        style="--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--fs:normal;--ff:var(--g-font-ADLaM-Display, 'ADLaM Display'), var(--g-font-heading, heading);--weight:700;--ls:0px;--size:33px;--size-tablet:33px;--size-mobile:29px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#646E3D;word-break:break-word;overflow:hidden"
        >{{ section.settings.gg62AefBuIy_text }}</h2>
      </div>
    </div>
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="gj9vpV3Jh6"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--cg:30px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gj9vpV3Jh6 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gS3QoyCEzU gp-relative gp-flex gp-flex-col"
    >
      
    <div class="gp-flex gp-w-full" style="--h:570px;--h-tablet:570px;--h-mobile:345px;--d:flex;--d-mobile:flex;--d-tablet:flex;--mb:var(--g-s-l);--mb-mobile:var(--g-s-2xl)">
      <gp-hero-banner
        gp-data='{"background":{"desktop":{"attachment":"scroll","color":"bg-2","image":{"src":"https://cdn.shopify.com/s/files/1/0562/7419/0435/files/gempages_519084546960917294-e53a0529-f060-491f-85ce-010e268f6819.jpg?v=1719193726","width":648,"height":974,"backupFileKey":"gempages_519084546960917294-e53a0529-f060-491f-85ce-010e268f6819.jpg","storage":"FILE_CONTENT"},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image","videoHtml5":"https://media.w3.org/2010/05/sintel/trailer.mp4"},"tablet":{"attachment":"scroll","color":"bg-2","image":{"src":"https://cdn.shopify.com/s/files/1/0562/7419/0435/files/gempages_519084546960917294-e53a0529-f060-491f-85ce-010e268f6819.jpg?v=1719193726","width":648,"height":974,"backupFileKey":"gempages_519084546960917294-e53a0529-f060-491f-85ce-010e268f6819.jpg","storage":"FILE_CONTENT"},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image","videoHtml5":"https://media.w3.org/2010/05/sintel/trailer.mp4"},"mobile":{"attachment":"scroll","color":"bg-2","image":{"src":"https://cdn.shopify.com/s/files/1/0562/7419/0435/files/gempages_519084546960917294-e53a0529-f060-491f-85ce-010e268f6819.jpg?v=1719193726","width":648,"height":974,"backupFileKey":"gempages_519084546960917294-e53a0529-f060-491f-85ce-010e268f6819.jpg","storage":"FILE_CONTENT"},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image","videoHtml5":"https://media.w3.org/2010/05/sintel/trailer.mp4"}},"uid":"ggEpKhHCIy","enableParallax":false,"speedParallax":0.6}'
        
        class="ggEpKhHCIy gp-group/hero gp-flex gp-flex-col gp-transition-colors gp-duration-200 gp-ease-in-out gp-w-full"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--radius:var(--g-radius-none);--h:570px;--h-tablet:570px;--h-mobile:345px;--w:100%;--w-tablet:100%;--w-mobile:100%"
      >
        <div
        class="gp-relative gp-flex gp-flex-col gp-items-center gp-overflow-hidden !gp-justify-end tablet:!gp-justify-end mobile:!gp-justify-end"
          style="--h:570px;--h-tablet:570px;--h-mobile:345px"
        >
          
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
      assign mediaIndex = 1
      if forloop
        assign mediaIndex = forloop.index
      endif
      assign sectionPreload = "false"

      if section.settings.section_preload == 'true'
        assign sectionPreload = "true"
      endif
      if sectionPreload == "true" and mediaIndex == 1
        assign isFetchPriorityHigh = 'true'
      endif
  -%}
  <picture style="border-radius: inherit" class="gp-w-full">
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_519084546960917294-e53a0529-f060-491f-85ce-010e268f6819.jpg" | file_img_url: 'master' }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_519084546960917294-e53a0529-f060-491f-85ce-010e268f6819.jpg" | file_img_url: 'master' }}" />
        <img
          title
          class=""
          src="{{ "gempages_519084546960917294-e53a0529-f060-491f-85ce-010e268f6819.jpg" | file_img_url: 'master' }}"
          alt=""
          fetchpriority="high"
          style="--aspect:648/974;--aspect-tablet:648/974;--aspect-mobile:648/974;--d:none;--d-tablet:none;--d-mobile:none;--h:570px;--h-tablet:570px;--h-mobile:345px;--w:100%;--w-tablet:100%;--w-mobile:100%;--op:0;--z:-1"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_519084546960917294-e53a0529-f060-491f-85ce-010e268f6819.jpg" | file_img_url: 'master' }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_519084546960917294-e53a0529-f060-491f-85ce-010e268f6819.jpg" | file_img_url: 'master' }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" />
      <img
        title
        class=" gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII="
        data-src="{{ "gempages_519084546960917294-e53a0529-f060-491f-85ce-010e268f6819.jpg" | file_img_url: 'master' }}"
        alt=""
        style="--aspect:648/974;--aspect-tablet:648/974;--aspect-mobile:648/974;--d:none;--d-tablet:none;--d-mobile:none;--h:570px;--h-tablet:570px;--h-mobile:345px;--w:100%;--w-tablet:100%;--w-mobile:100%;--op:0;--z:-1"
      />
    {%- endif -%}
  </picture>
          <div class="gp-absolute gp-w-full gp-h-full">
            <div
              class="gp-overflow-hidden gp-w-full gp-h-full"
              style="--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;clip-path:inset(0 0)">
              <div
                aria-label="Background Image"
                role="banner"
                class="gp-hero-banner-bg gp-absolute gp-inset-0 gp-left-[var(--left)] gp-top-[var(--top)] gp-transition-transform gp-flex gp-items-center gp-justify-center gp-bg-clip-content"
                style="--bgc:var(--g-c-bg-2);--bgc-tablet:var(--g-c-bg-2);--bgc-mobile:var(--g-c-bg-2);--bgi:url({{ "gempages_519084546960917294-e53a0529-f060-491f-85ce-010e268f6819.jpg" | file_url }});--bgi-tablet:url({{ "gempages_519084546960917294-e53a0529-f060-491f-85ce-010e268f6819.jpg" | file_url }});--bgi-mobile:url({{ "gempages_519084546960917294-e53a0529-f060-491f-85ce-010e268f6819.jpg" | file_url }});--bgp:50% 50%;--bgp-tablet:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-tablet:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-tablet:no-repeat;--bgr-mobile:no-repeat;--duration:0.5s;--scale:110%;--top:0;--left:0;--w:100%;--h:100%;--pos:absolute;--bga:scroll;--w-tablet:100%;--h-tablet:100%;--pos-tablet:absolute;--bga-tablet:scroll;--w-mobile:100%;--h-mobile:100%;--pos-mobile:absolute;--bga-mobile:scroll"
              >  </div>
            </div>
            <div
            aria-label="Overlay"
            role="banner"
            class="gp-absolute gp-inset-0 gp-left-[var(--left)] gp-top-[var(--top)] gp-transition-all gp-duration-300 group-hover/hero:gp-bg-[color:var(--hvr-bgc,_var(--bgc))] group-hover/hero:gp-opacity-[var(--hvr-op,_var(--op))]"
            style="--bgc:#121212;--top:0;--left:0;--op:0%"
          > </div>
          </div>
          
          
      
      
    <div
      id
        style="--cg:32px;--pc:end;--pc-tablet:end;--pc-mobile:end;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 1200px);--w-mobile:var(--g-ct-w, 1200px)"
        class="gp-hero-banner-row gp-z-1 gp-w-full tablet:gp-relative mobile:gp-relative tablet:[&>*>*]:!gp-justify-undefined mobile:[&>*>*]:!gp-justify-undefined tablet:!gp-content-stretch tablet:[&>*]:!gp-justify-end mobile:!gp-content-stretch mobile:[&>*]:!gp-justify-end gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gU74LSPlq5 gp-relative gp-flex gp-flex-col"
    >
      
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-product.v2.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    {%- assign gpBkProduct = product -%}
    
        {%- liquid
          if request.page_type == 'product'
            if 'static' == 'static'
              if '7173777358947' == 'latest'
                paginate collections.all.products by 100000
                  assign product = collections.all.products | sort: 'created_at' | reverse | first
                endpaginate
              else
                assign product = all_products['2-1-reusable-pet-hair-remover-lint-roller']
                if product == empty or product == null
                  paginate collections.all.products by 100000
                    for item in collections.all.products
                      if item.id == '7173777358947'
                        assign product = item
                      endif
                    endfor
                  endpaginate
                endif
              endif
            endif
          else
            if '7173777358947' == 'latest'
              paginate collections.all.products by 100000
                assign product = collections.all.products | sort: 'created_at'| reverse | first
              endpaginate
            else
              assign product = all_products['2-1-reusable-pet-hair-remover-lint-roller']
              if product == empty or product == null
                paginate collections.all.products by 100000
                  for item in collections.all.products
                    if item.id == '7173777358947'
                      assign product = item
                    endif
                  endfor
                endpaginate
              endif
            endif
          endif
        -%}
      

    {%-if product != empty and product != null -%}
      {%- assign initVariantId =  -%}
      {%- assign product_form_id = 'product-form-' | append: "gbG4-MK_jy" -%}
      {%- assign variant = product.selected_or_first_available_variant -%}
      {%- assign productSelectedVariant = product.selected_or_first_available_variant -%}
      {%-if productSelectedVariant == empty or productSelectedVariant == null -%}
        {%- assign productSelectedVariant = product.selected_or_first_available_variant -%}
      {%- endif -%}
      {%-if variant == empty or variant == null -%}
        {%- assign variant = product.selected_or_first_available_variant -%}
      {%- endif -%}
      <gp-product data-uid="gbG4-MK_jy" class="" gp-context='{"productId": {{ product.id }}, "isSyncProduct": "", "variantSelected": {{ variant | json | escape }}, "quantity": 1, "formId": "{{ product_form_id }}" }'
        gp-data='{"variantSelected": {{ variant | json | escape }}, "quantity": 1}'>
        <product-form class="product-form">
          {%- form 'product', product, id: product_form_id, class: 'form contents', data-type: 'add-to-cart-form', autocomplete: 'off'  -%}
            <input type="hidden" name="id" value="{{ variant.id }}" />
            <input type="hidden" name="quantity" value="{{ quantity }}" />
            <button type="submit" onclick="return false;" style="display:none;"></button>
            
      
      
    <div
      id="gbG4-MK_jy"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pl:var(--g-s-2xl);--pb:var(--g-s-l);--pr:var(--g-s-2xl);--cg:30px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%"
        class="gbG4-MK_jy gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g9cW-C9914 gp-relative gp-flex gp-flex-col"
    >
      <div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-s)" class="gDRthCwZvL ">
      
    {%- unless product -%}
      <p>{{ "gempages.ProductTitle.product_not_found" | t }}</p>
    {%- else -%}
      
        <a href="{{ product.url }}" title="{{ product.title }}">
        
    <div
      
        class=" "
        style=""
      >
      <div class="" style="">
        <h1
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A']"
          style="--w:100%;--ta:left;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#FFFFFF;--fs:normal;--weight:700;--ls:normal;--size:19px;--size-tablet:19px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden"
        >{{ product.title }}</h1>
      </div>
    </div>
        </a>
      
    {%- endunless -%}
  
      </div>
      
      
    <div
      parentTag="Col" id="gU-OOScmm7"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--cg:var(--g-s-s);--pc:start;--pc-mobile:center;--gtc:minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gU-OOScmm7 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gVPwaaTfLw gp-relative gp-flex gp-flex-col"
    >
      
      <gp-product-price
        class="gp-product-price"
        gp-data='{"priceType":"regular","uid":"gERumJNvX7","locale":"{{shop.locale}}","currency":"{{shop.currency}}","moneyFormat":"{{ shop.money_format | replace: '"', '\\"' | escape }}"}'
        
        class=" data-[hidden=true]:gp-hidden"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
        data-hidden="false"
      >
        
    <div
      id="p-price-gERumJNvX7"
        class=" "
        style=""
      >
      <div class="" style="">
        <div
         type="regular"
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-price gp-money gp-decoration-g-text-1"
          style="--w:100%;--tdc:text-1;--tdt:1;--ta:left;--c:#FFFFFF;--fs:normal;--weight:700;--ls:normal;--size:28px;--size-tablet:28px;--size-mobile:24px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden"
        >
                  {% if variant.price %}
                    {{ variant.price | money}}
                  {% endif %}
                </div>
      </div>
    </div>
      </gp-product-price>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-product-price.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gEQVDGybNg gp-relative gp-flex gp-flex-col"
    >
      
      <gp-product-price
        class="gp-product-price"
        gp-data='{"priceType":"compare","uid":"gbQk_mYklO","locale":"{{shop.locale}}","currency":"{{shop.currency}}","moneyFormat":"{{ shop.money_format | replace: '"', '\\"' | escape }}"}'
        
        class=" data-[hidden=true]:gp-hidden"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
        data-hidden="{% if variant.compare_at_price > variant.price and variant.compare_at_price >= 0 %}false{% else %}true{% endif %}"
      >
        
    <div
      id="p-price-gbQk_mYklO"
        class=" "
        style=""
      >
      <div class="" style="">
        <div
         type="compare"
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-price gp-product-compare-price gp-line-through"
          style="--w:100%;--tdc:#FFFFFF;--tdt:1;--ta:left;--c:#FFFFFF;--fs:normal;--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden"
        >
                  {% if variant.compare_at_price  %}
                    {{ variant.compare_at_price | money}}
                  {% endif %}
                </div>
      </div>
    </div>
      </gp-product-price>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-product-price.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
    </div>
  
    
   {%- liquid
      assign inventory_quantity = variant.inventory_quantity | default: 0
    -%}
    <gp-product-button
      class="gp-product-button"
      gp-data='{"setting":{"actionEffect":"continue-shopping","errorMessage":"Cannot add product to cart","successMessage":"Add product to cart successfully","label":"BUY NOW","outOfStockLabel":"Out of stock","errorType":"built-in","customURL":{"link":"/cart","target":"_self"}},"styles":{"errorTypo":{"type":"paragraph-2"},"successTypo":{"type":"paragraph-2"}},"disabled":"{{variant.available}}","variantID":"{{variant.id}}","totalVariant":"{{product.variants.size}}"}' style=""
    >
        
  <gp-button style="">
  <div
    
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--ta:left"
    class="{% unless variant.available %} !gp-hidden {% endunless %}"
  >
    <style>
    .ga4O_C_lU0.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: #121212;
  
      
      
      
      
      
      
    }

    .ga4O_C_lU0:hover::before {
      border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: #4D4D4D;
  
      
    }
  </style>
    <button
      type="button" data-id="ga4O_C_lU0" aria-label="BUY NOW"
      
      data-state="idle"
      class="ga4O_C_lU0 gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-g-text-3 gp-button-atc"
      style="--hvr-bg:#FF871D;--bg:#646E3D;--shadow:none;--c:var(--g-c-text-3, text-3);--pl:48px;--pr:48px;--pt:12px;--pb:12px;--pl-tablet:48px;--pr-tablet:48px;--pt-tablet:12px;--pb-tablet:12px;--pl-mobile:48px;--pr-mobile:48px;--pt-mobile:12px;--pb-mobile:12px;--w:Auto;--w-tablet:Auto;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--tt:default;--fs:normal;--weight:700;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%"
    >
        <svg
          class="gp-invisible gp-absolute gp-h-5 gp-w-5 group-data-[state=loading]:gp-animate-spin group-data-[state=loading]:gp-visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="gp-opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="gp-opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>

    
      <span
        class="gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden "
        style="--tt:default"
      >
        {{ section.settings.gga4O_C_lU0_label }}
      </span>
    </button>
  </div>
  </gp-button>

        
  <gp-button style="">
  <div
    
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--ta:left"
    class="{% if variant.available %} !gp-hidden {% endif %}"
  >
    <style>
    .ga4O_C_lU0-sold-out.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: #121212;
  
      
      
      
      
      
      
    }

    .ga4O_C_lU0-sold-out:hover::before {
      border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: #4D4D4D;
  
      
    }
  </style>
    <button
      type="button" data-id="ga4O_C_lU0-sold-out" aria-label="Out of stock"
      
      data-state="idle"
      class="ga4O_C_lU0-sold-out gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-g-text-3 gp-button-sold-out btn-disabled gp-opacity-30 gp-pointer-events-none"
      style="--hvr-bg:#FF871D;--bg:#646E3D;--shadow:none;--c:var(--g-c-text-3, text-3);--pl:48px;--pr:48px;--pt:12px;--pb:12px;--pl-tablet:48px;--pr-tablet:48px;--pt-tablet:12px;--pb-tablet:12px;--pl-mobile:48px;--pr-mobile:48px;--pt-mobile:12px;--pb-mobile:12px;--w:Auto;--w-tablet:Auto;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--tt:default;--fs:normal;--weight:700;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%"
    >
        <svg
          class="gp-invisible gp-absolute gp-h-5 gp-w-5 group-data-[state=loading]:gp-animate-spin group-data-[state=loading]:gp-visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="gp-opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="gp-opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>

    
      <span
        class="gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden "
        style="--tt:default"
      >
        {{ section.settings.gga4O_C_lU0_outOfStockLabel }}
      </span>
    </button>
  </div>
  </gp-button>

    </gp-product-button>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-product-button.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
    </div>
  
    
          {%- endform -%}
        </product-form>
      </gp-product>
      {%- assign product = gpBkProduct -%}
    {% else %}
      <div class="gp-text-center">{{ "gempages.Product.product_not_found" | t }}</div>
    {%- endif -%}
  
    </div>
    </div>
  
    
        </div>
      </gp-hero-banner>
    </div>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-hero-banner.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gZoIn_qPkW gp-relative gp-flex gp-flex-col"
    >
      
    <div class="gp-flex gp-w-full" style="--h:570px;--h-tablet:570px;--h-mobile:345px;--d:flex;--d-mobile:flex;--d-tablet:flex;--mb:var(--g-s-l)">
      <gp-hero-banner
        gp-data='{"background":{"desktop":{"attachment":"scroll","color":"bg-2","image":{"src":"https://cdn.shopify.com/s/files/1/0562/7419/0435/files/gempages_519084546960917294-ade5fb61-1c3e-4ad3-ad64-c3d2217eb8ba.webp?v=1719050560","width":640,"height":640,"backupFileKey":"gempages_519084546960917294-ade5fb61-1c3e-4ad3-ad64-c3d2217eb8ba.webp","storage":"FILE_CONTENT"},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image","videoHtml5":"https://media.w3.org/2010/05/sintel/trailer.mp4"},"tablet":{"attachment":"scroll","color":"bg-2","image":{"src":"https://cdn.shopify.com/s/files/1/0562/7419/0435/files/gempages_519084546960917294-ade5fb61-1c3e-4ad3-ad64-c3d2217eb8ba.webp?v=1719050560","width":640,"height":640,"backupFileKey":"gempages_519084546960917294-ade5fb61-1c3e-4ad3-ad64-c3d2217eb8ba.webp","storage":"FILE_CONTENT"},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image","videoHtml5":"https://media.w3.org/2010/05/sintel/trailer.mp4"},"mobile":{"attachment":"scroll","color":"bg-2","image":{"src":"https://cdn.shopify.com/s/files/1/0562/7419/0435/files/gempages_519084546960917294-ade5fb61-1c3e-4ad3-ad64-c3d2217eb8ba.webp?v=1719050560","width":640,"height":640,"backupFileKey":"gempages_519084546960917294-ade5fb61-1c3e-4ad3-ad64-c3d2217eb8ba.webp","storage":"FILE_CONTENT"},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image","videoHtml5":"https://media.w3.org/2010/05/sintel/trailer.mp4"}},"uid":"gk21YxMKfX","enableParallax":false,"speedParallax":0.6}'
        
        class="gk21YxMKfX gp-group/hero gp-flex gp-flex-col gp-transition-colors gp-duration-200 gp-ease-in-out gp-w-full"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--radius:var(--g-radius-none);--h:570px;--h-tablet:570px;--h-mobile:345px;--w:100%;--w-tablet:100%;--w-mobile:100%"
      >
        <div
        class="gp-relative gp-flex gp-flex-col gp-items-center gp-overflow-hidden !gp-justify-end tablet:!gp-justify-end mobile:!gp-justify-end"
          style="--h:570px;--h-tablet:570px;--h-mobile:345px"
        >
          
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
      assign mediaIndex = 1
      if forloop
        assign mediaIndex = forloop.index
      endif
      assign sectionPreload = "false"

      if section.settings.section_preload == 'true'
        assign sectionPreload = "true"
      endif
      if sectionPreload == "true" and mediaIndex == 1
        assign isFetchPriorityHigh = 'true'
      endif
  -%}
  <picture style="border-radius: inherit" class="gp-w-full">
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_519084546960917294-ade5fb61-1c3e-4ad3-ad64-c3d2217eb8ba.webp" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_519084546960917294-ade5fb61-1c3e-4ad3-ad64-c3d2217eb8ba.webp" | file_url }}" />
        <img
          title
          class=""
          src="{{ "gempages_519084546960917294-ade5fb61-1c3e-4ad3-ad64-c3d2217eb8ba.webp" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:640/640;--aspect-tablet:640/640;--aspect-mobile:640/640;--d:none;--d-tablet:none;--d-mobile:none;--h:570px;--h-tablet:570px;--h-mobile:345px;--w:100%;--w-tablet:100%;--w-mobile:100%;--op:0;--z:-1"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_519084546960917294-ade5fb61-1c3e-4ad3-ad64-c3d2217eb8ba.webp" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_519084546960917294-ade5fb61-1c3e-4ad3-ad64-c3d2217eb8ba.webp" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" />
      <img
        title
        class=" gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII="
        data-src="{{ "gempages_519084546960917294-ade5fb61-1c3e-4ad3-ad64-c3d2217eb8ba.webp" | file_url }}"
        alt=""
        style="--aspect:640/640;--aspect-tablet:640/640;--aspect-mobile:640/640;--d:none;--d-tablet:none;--d-mobile:none;--h:570px;--h-tablet:570px;--h-mobile:345px;--w:100%;--w-tablet:100%;--w-mobile:100%;--op:0;--z:-1"
      />
    {%- endif -%}
  </picture>
          <div class="gp-absolute gp-w-full gp-h-full">
            <div
              class="gp-overflow-hidden gp-w-full gp-h-full"
              style="--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;clip-path:inset(0 0)">
              <div
                aria-label="Background Image"
                role="banner"
                class="gp-hero-banner-bg gp-absolute gp-inset-0 gp-left-[var(--left)] gp-top-[var(--top)] gp-transition-transform gp-flex gp-items-center gp-justify-center gp-bg-clip-content"
                style="--bgc:var(--g-c-bg-2);--bgc-tablet:var(--g-c-bg-2);--bgc-mobile:var(--g-c-bg-2);--bgi:url({{ "gempages_519084546960917294-ade5fb61-1c3e-4ad3-ad64-c3d2217eb8ba.webp" | file_url }});--bgi-tablet:url({{ "gempages_519084546960917294-ade5fb61-1c3e-4ad3-ad64-c3d2217eb8ba.webp" | file_url }});--bgi-mobile:url({{ "gempages_519084546960917294-ade5fb61-1c3e-4ad3-ad64-c3d2217eb8ba.webp" | file_url }});--bgp:50% 50%;--bgp-tablet:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-tablet:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-tablet:no-repeat;--bgr-mobile:no-repeat;--duration:0.5s;--scale:110%;--top:0;--left:0;--w:100%;--h:100%;--pos:absolute;--bga:scroll;--w-tablet:100%;--h-tablet:100%;--pos-tablet:absolute;--bga-tablet:scroll;--w-mobile:100%;--h-mobile:100%;--pos-mobile:absolute;--bga-mobile:scroll"
              >  </div>
            </div>
            <div
            aria-label="Overlay"
            role="banner"
            class="gp-absolute gp-inset-0 gp-left-[var(--left)] gp-top-[var(--top)] gp-transition-all gp-duration-300 group-hover/hero:gp-bg-[color:var(--hvr-bgc,_var(--bgc))] group-hover/hero:gp-opacity-[var(--hvr-op,_var(--op))]"
            style="--bgc:#121212;--top:0;--left:0;--op:0%"
          > </div>
          </div>
          
          
      
      
    <div
      id
        style="--cg:32px;--pc:end;--pc-tablet:end;--pc-mobile:end;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 1200px);--w-mobile:var(--g-ct-w, 1200px)"
        class="gp-hero-banner-row gp-z-1 gp-w-full tablet:gp-relative mobile:gp-relative tablet:[&>*>*]:!gp-justify-undefined mobile:[&>*>*]:!gp-justify-undefined tablet:!gp-content-stretch tablet:[&>*]:!gp-justify-end mobile:!gp-content-stretch mobile:[&>*]:!gp-justify-end gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="glVL8_P6W1 gp-relative gp-flex gp-flex-col"
    >
      
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-product.v2.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    {%- assign gpBkProduct = product -%}
    
        {%- liquid
          if request.page_type == 'product'
            if 'static' == 'static'
              if '7175196442723' == 'latest'
                paginate collections.all.products by 100000
                  assign product = collections.all.products | sort: 'created_at' | reverse | first
                endpaginate
              else
                assign product = all_products['wireless-bluetooth-sleeping-headband']
                if product == empty or product == null
                  paginate collections.all.products by 100000
                    for item in collections.all.products
                      if item.id == '7175196442723'
                        assign product = item
                      endif
                    endfor
                  endpaginate
                endif
              endif
            endif
          else
            if '7175196442723' == 'latest'
              paginate collections.all.products by 100000
                assign product = collections.all.products | sort: 'created_at'| reverse | first
              endpaginate
            else
              assign product = all_products['wireless-bluetooth-sleeping-headband']
              if product == empty or product == null
                paginate collections.all.products by 100000
                  for item in collections.all.products
                    if item.id == '7175196442723'
                      assign product = item
                    endif
                  endfor
                endpaginate
              endif
            endif
          endif
        -%}
      

    {%-if product != empty and product != null -%}
      {%- assign initVariantId =  -%}
      {%- assign product_form_id = 'product-form-' | append: "g9HA83pQUc" -%}
      {%- assign variant = product.selected_or_first_available_variant -%}
      {%- assign productSelectedVariant = product.selected_or_first_available_variant -%}
      {%-if productSelectedVariant == empty or productSelectedVariant == null -%}
        {%- assign productSelectedVariant = product.selected_or_first_available_variant -%}
      {%- endif -%}
      {%-if variant == empty or variant == null -%}
        {%- assign variant = product.selected_or_first_available_variant -%}
      {%- endif -%}
      <gp-product data-uid="g9HA83pQUc" class="" gp-context='{"productId": {{ product.id }}, "isSyncProduct": "", "variantSelected": {{ variant | json | escape }}, "quantity": 1, "formId": "{{ product_form_id }}" }'
        gp-data='{"variantSelected": {{ variant | json | escape }}, "quantity": 1}'>
        <product-form class="product-form">
          {%- form 'product', product, id: product_form_id, class: 'form contents', data-type: 'add-to-cart-form', autocomplete: 'off'  -%}
            <input type="hidden" name="id" value="{{ variant.id }}" />
            <input type="hidden" name="quantity" value="{{ quantity }}" />
            <button type="submit" onclick="return false;" style="display:none;"></button>
            
      
      
    <div
      id="g9HA83pQUc"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pl:var(--g-s-2xl);--pb:var(--g-s-l);--pr:var(--g-s-2xl);--cg:30px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%"
        class="g9HA83pQUc gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gYW9HKkee4 gp-relative gp-flex gp-flex-col"
    >
      <div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-s)" class="g_a5xxYY6H ">
      
    {%- unless product -%}
      <p>{{ "gempages.ProductTitle.product_not_found" | t }}</p>
    {%- else -%}
      
        
    <div
      
        class=" "
        style=""
      >
      <div class="" style="">
        <h1
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-product-title"
          style="--w:100%;--ta:left;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#FFFFFF;--fs:normal;--weight:700;--ls:normal;--size:19px;--size-tablet:19px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden"
        >{{ product.title }}</h1>
      </div>
    </div>
      
    {%- endunless -%}
  
      </div>
      
      
    <div
      parentTag="Col" id="gJumCHAskC"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--cg:var(--g-s-s);--pc:start;--pc-mobile:center;--gtc:minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gJumCHAskC gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gdotTSwOhC gp-relative gp-flex gp-flex-col"
    >
      
      <gp-product-price
        class="gp-product-price"
        gp-data='{"priceType":"regular","uid":"g2ph8AqZsl","locale":"{{shop.locale}}","currency":"{{shop.currency}}","moneyFormat":"{{ shop.money_format | replace: '"', '\\"' | escape }}"}'
        
        class=" data-[hidden=true]:gp-hidden"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
        data-hidden="false"
      >
        
    <div
      id="p-price-g2ph8AqZsl"
        class=" "
        style=""
      >
      <div class="" style="">
        <div
         type="regular"
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-price gp-money gp-decoration-g-text-1"
          style="--w:100%;--tdc:text-1;--tdt:1;--ta:left;--c:#FFFFFF;--fs:normal;--weight:700;--ls:normal;--size:28px;--size-tablet:28px;--size-mobile:24px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden"
        >
                  {% if variant.price %}
                    {{ variant.price | money}}
                  {% endif %}
                </div>
      </div>
    </div>
      </gp-product-price>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-product-price.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gaDASL1ygd gp-relative gp-flex gp-flex-col"
    >
      
      <gp-product-price
        class="gp-product-price"
        gp-data='{"priceType":"compare","uid":"gL57Yemaeu","locale":"{{shop.locale}}","currency":"{{shop.currency}}","moneyFormat":"{{ shop.money_format | replace: '"', '\\"' | escape }}"}'
        
        class=" data-[hidden=true]:gp-hidden"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
        data-hidden="{% if variant.compare_at_price > variant.price and variant.compare_at_price >= 0 %}false{% else %}true{% endif %}"
      >
        
    <div
      id="p-price-gL57Yemaeu"
        class=" "
        style=""
      >
      <div class="" style="">
        <div
         type="compare"
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-price gp-product-compare-price gp-line-through"
          style="--w:100%;--tdc:#FFFFFF;--tdt:1;--ta:left;--c:#FFFFFF;--fs:normal;--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden"
        >
                  {% if variant.compare_at_price  %}
                    {{ variant.compare_at_price | money}}
                  {% endif %}
                </div>
      </div>
    </div>
      </gp-product-price>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-product-price.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
    </div>
  
    
   {%- liquid
      assign inventory_quantity = variant.inventory_quantity | default: 0
    -%}
    <gp-product-button
      class="gp-product-button"
      gp-data='{"setting":{"actionEffect":"continue-shopping","errorMessage":"Cannot add product to cart","successMessage":"Add product to cart successfully","label":"BUY NOW","outOfStockLabel":"Out of stock","errorType":"built-in","customURL":{"link":"/cart","target":"_self"}},"styles":{"errorTypo":{"type":"paragraph-2"},"successTypo":{"type":"paragraph-2"}},"disabled":"{{variant.available}}","variantID":"{{variant.id}}","totalVariant":"{{product.variants.size}}"}' style=""
    >
        
  <gp-button style="">
  <div
    
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--ta:left"
    class="{% unless variant.available %} !gp-hidden {% endunless %}"
  >
    <style>
    .gLkAyefeCf.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: #121212;
  
      
      
      
      
      
      
    }

    .gLkAyefeCf:hover::before {
      border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: #4D4D4D;
  
      
    }
  </style>
    <button
      type="button" data-id="gLkAyefeCf" aria-label="BUY NOW"
      
      data-state="idle"
      class="gLkAyefeCf gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-g-text-3 gp-button-atc"
      style="--hvr-bg:#FF871D;--bg:#646E3D;--shadow:none;--c:var(--g-c-text-3, text-3);--pl:48px;--pr:48px;--pt:12px;--pb:12px;--pl-tablet:48px;--pr-tablet:48px;--pt-tablet:12px;--pb-tablet:12px;--pl-mobile:48px;--pr-mobile:48px;--pt-mobile:12px;--pb-mobile:12px;--w:Auto;--w-tablet:Auto;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--tt:default;--fs:normal;--weight:700;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%"
    >
        <svg
          class="gp-invisible gp-absolute gp-h-5 gp-w-5 group-data-[state=loading]:gp-animate-spin group-data-[state=loading]:gp-visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="gp-opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="gp-opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>

    
      <span
        class="gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden "
        style="--tt:default"
      >
        {{ section.settings.ggLkAyefeCf_label }}
      </span>
    </button>
  </div>
  </gp-button>

        
  <gp-button style="">
  <div
    
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--ta:left"
    class="{% if variant.available %} !gp-hidden {% endif %}"
  >
    <style>
    .gLkAyefeCf-sold-out.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: #121212;
  
      
      
      
      
      
      
    }

    .gLkAyefeCf-sold-out:hover::before {
      border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: #4D4D4D;
  
      
    }
  </style>
    <button
      type="button" data-id="gLkAyefeCf-sold-out" aria-label="Out of stock"
      
      data-state="idle"
      class="gLkAyefeCf-sold-out gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-g-text-3 gp-button-sold-out btn-disabled gp-opacity-30 gp-pointer-events-none"
      style="--hvr-bg:#FF871D;--bg:#646E3D;--shadow:none;--c:var(--g-c-text-3, text-3);--pl:48px;--pr:48px;--pt:12px;--pb:12px;--pl-tablet:48px;--pr-tablet:48px;--pt-tablet:12px;--pb-tablet:12px;--pl-mobile:48px;--pr-mobile:48px;--pt-mobile:12px;--pb-mobile:12px;--w:Auto;--w-tablet:Auto;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--tt:default;--fs:normal;--weight:700;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%"
    >
        <svg
          class="gp-invisible gp-absolute gp-h-5 gp-w-5 group-data-[state=loading]:gp-animate-spin group-data-[state=loading]:gp-visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="gp-opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="gp-opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>

    
      <span
        class="gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden "
        style="--tt:default"
      >
        {{ section.settings.ggLkAyefeCf_outOfStockLabel }}
      </span>
    </button>
  </div>
  </gp-button>

    </gp-product-button>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-product-button.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
    </div>
  
    
          {%- endform -%}
        </product-form>
      </gp-product>
      {%- assign product = gpBkProduct -%}
    {% else %}
      <div class="gp-text-center">{{ "gempages.Product.product_not_found" | t }}</div>
    {%- endif -%}
  
    </div>
    </div>
  
    
        </div>
      </gp-hero-banner>
    </div>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-hero-banner.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    


{% schema %}
  {
    
    "name": "Section 4",
    "tag": "section",
    "class": "gps-519671959974314798 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/30b28c/apps/bold/app/shopify/edit?pageType=GP_INDEX&editorId=519671922661786512&sectionId=519671959974314798)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"html","id":"gg62AefBuIy_text","label":"gg62AefBuIy_text","default":"<strong>OUR BEST PRODUCTS</strong>"},{"type":"html","id":"gga4O_C_lU0_label","label":"gga4O_C_lU0_label","default":"BUY NOW"},{"type":"html","id":"gga4O_C_lU0_outOfStockLabel","label":"gga4O_C_lU0_outOfStockLabel","default":"Out of stock"},{"type":"html","id":"ggLkAyefeCf_label","label":"ggLkAyefeCf_label","default":"BUY NOW"},{"type":"html","id":"ggLkAyefeCf_outOfStockLabel","label":"ggLkAyefeCf_outOfStockLabel","default":"Out of stock"}],
    "blocks": [{"type": "@app"}]
  }
{% endschema %}
