<!-- sections/featured-collection.liquid -->
<link
  href="{{ 'section.css' | asset_url }}"
  rel="stylesheet"
  type="text/css"
  media="all"
>
<link
  href="{{ 'collection-products.css' | asset_url }}"
  rel="stylesheet"
  type="text/css"
  media="all"
>
<link
  href="{{ 'slider-settings.css' | asset_url }}"
  rel="stylesheet"
  type="text/css"
  media="all"
>
<link
  href="{{ 'pre_flickity.css' | asset_url }}"
  rel="stylesheet"
  type="text/css"
  media="all"
>
<link
  href="{{ 'loading.css' | asset_url }}"
  rel="stylesheet"
  media="print"
  onload="this.media='all'"
>
<div
  data-not-main
  data-ntajax-options='{"id":"template--15319830495438__1646035317ea8b6928","type":"LmDefault","isProduct":true}'
  class="section-inner nt_se_template--15319830495438__1646035317ea8b6928 se_template--15319830495438__1646035317ea8b6928 container-wrap "
  style="--bg-color: ;--bg-gradient: ;--border-cl: ;--mg-top: ;--mg-right: auto;--mg-bottom: 90px;--mg-left:auto;--pd-top: ;--pd-right: ;--pd-bottom: ;--pd-left: ;--mgtb-top: ;--mgtb-right: auto;--mgtb-bottom: 90px;--mgtb-left: auto;--pdtb-top: ;--pdtb-right: ;--pdtb-bottom: ;--pdtb-left: ;--mgmb-top: ;--mgmb-right: auto;--mgmb-bottom: 50px;--mgmb-left: auto;--pdmb-top: ;--pdmb-right: ;--pdmb-bottom: ;--pdmb-left: ;"
>
  <div class="container">
    <link
      href="{{ 'top-head.css' | asset_url }}"
      rel="stylesheet"
      type="text/css"
      media="all"
    >
    <div
      timeline
      hdt-reveal="slide-in"
      class="top-heading des_title_2 text-center "
      style="--heading-height: px;--tophead_mb: 30px;"
    >
      <div class="heading-testimonials-star ">
        <h3 class="section-title title">
          <span>TRENDING</span>
        </h3>
      </div>
      <span class="section-des subtitle">Top view in this week</span>
    </div>
    <link
      href="{{ 'button-style.css' | asset_url }}"
      rel="stylesheet"
      type="text/css"
      media="all"
    >
    <link
      href="{{ 'custom-effect.css' | asset_url }}"
      rel="stylesheet"
      media="print"
      onload="this.media='all'"
    >
    <div
      data-collection-url="/collections/default"
      data-contentlm-replace
      class="box_pr_grid products justify-content-center text-default ratio-nt position_8 cover row row-cols-lg-4 row-cols-md-3 row-cols-2 gx-md-30 gy-md-30 gx-10 gy-10"
    >
      <div
        class="product pr-grid pr-style1 pr-7001788481742  col-item"
        data-product-options='{ "id":"7001788481742","cusQty":"1","available":true, "handle":"analogue-resin-strap", "isDefault": false, "VariantFirstID": 41167814099150, "customBadge":["New"], "customBadgeHandle":["new"],"dateStart":1651800431, "compare_at_price":null,"price":3000, "isPreoder":false,"isExternal":false,"image2":"\/\/demo-kalles-4-1.myshopify.com\/cdn\/shop\/products\/eberj4183019d5e_q3_2-0_d06f4236-5147-48d3-83dd-13a55d4f57f7.jpg?v=1652168766\u0026width=1","alt":"Analogue Resin Strap","isGrouped":false,"maxQuantity":9999 }'
      >
        <div class="product-wrapper" timeline hdt-reveal="slide-in">
          <div data-cacl-slide class="product-inner relative overflow-hidden">
            <div class="product-img ratio" data-style="--aspect-ratioapt: 0.7838776928422516">
              <img
                data-pr-img
                class="product-main-img lazyload"
                loading="lazy"
                src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                data-src="//demo-kalles-4-1.myshopify.com/cdn/shop/products/eberj4183019d5e_q1_2-0_4e036e1e-79fe-4129-958e-9a1a2698ce6a.jpg?v=1652168766&width=1"
                data-widths="[100,200,330,400,500,600,700,800,900]"
                data-optimumx="2"
                data-sizes="auto"
                width="1128"
                height="1439"
                alt="Analogue Resin Strap"
              >
              <span class="lazyload-loader"></span>
              <div data-replace-img2></div>
              <noscript>
                <img
                  class="product-main-img"
                  loading="lazy"
                  src="//demo-kalles-4-1.myshopify.com/cdn/shop/products/eberj4183019d5e_q1_2-0_4e036e1e-79fe-4129-958e-9a1a2698ce6a.jpg?v=1652168766&width=600"
                  alt="Analogue Resin Strap"
                >
              </noscript>
            </div>
            <div data-product-badge data-sort="sale,new,soldout,preOrder,custom" class="product-badge"></div>
            <div class="product-btns">
              <div data-replace-quickview></div>
              <div data-replace-atc data-has-qty></div>
            </div>
            <div class="product-btns2">
              <div data-replace-wishlist data-tooltip="right"></div>
              <div data-replace-compare data-tooltip="right"></div>
            </div>
            <div class="product-sizes">
              <span class="truncate d-block w-full">
                <span>XS</span>
                <span>S</span>
                <span>M</span>
                <span>L</span>
                <span>XL</span>
              </span>
            </div>
            <a data-pr-href class="full-width-link" href="/products/analogue-resin-strap"></a>
          </div>
          <div class="product-info">
            <div class="product-info__inner">
              <h3 class="product-title">
                <a data-pr-href href="/products/analogue-resin-strap">Analogue Resin Strap</a>
              </h3>
              <div class="product-price" data-pr-price>$30.00</div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="product pr-grid pr-style1 pr-7001788874958  col-item"
        data-product-options='{ "id":"7001788874958","cusQty":"1","available":true, "handle":"asos-ridley-high-waist", "isDefault": false, "VariantFirstID": 41167815311566, "customBadge":null, "customBadgeHandle":null,"dateStart":1651800455, "compare_at_price":null,"price":3600, "isPreoder":false,"isExternal":false,"image2":"\/\/demo-kalles-4-1.myshopify.com\/cdn\/shop\/products\/nlota2087710739_q2_2-0_8564d457-e030-45da-9ea5-a3aab2c582de.jpg?v=1652168737\u0026width=1","alt":"Ridley High Waist","isGrouped":false,"maxQuantity":9999 }'
      >
        <div class="product-wrapper" timeline hdt-reveal="slide-in">
          <div data-cacl-slide class="product-inner relative overflow-hidden">
            <div class="product-img ratio" data-style="--aspect-ratioapt: 0.7838776928422516">
              <img
                data-pr-img
                class="product-main-img lazyload"
                loading="lazy"
                src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                data-src="//demo-kalles-4-1.myshopify.com/cdn/shop/products/nlota2087710739_q1_2-0_8077af1c-2697-44de-bd4e-42cad31a16b3.jpg?v=1652168737&width=1"
                data-widths="[100,200,330,400,500,600,700,800,900]"
                data-optimumx="2"
                data-sizes="auto"
                width="1128"
                height="1439"
                alt="Ridley High Waist"
              >
              <span class="lazyload-loader"></span>
              <div data-replace-img2></div>
              <noscript>
                <img
                  class="product-main-img"
                  loading="lazy"
                  src="//demo-kalles-4-1.myshopify.com/cdn/shop/products/nlota2087710739_q1_2-0_8077af1c-2697-44de-bd4e-42cad31a16b3.jpg?v=1652168737&width=600"
                  alt="Ridley High Waist"
                >
              </noscript>
            </div>
            <div data-product-badge data-sort="sale,new,soldout,preOrder,custom" class="product-badge"></div>
            <div class="product-btns">
              <div data-replace-quickview></div>
              <div data-replace-atc data-has-qty></div>
            </div>
            <div class="product-btns2">
              <div data-replace-wishlist data-tooltip="right"></div>
              <div data-replace-compare data-tooltip="right"></div>
            </div>
            <div class="product-sizes">
              <span class="truncate d-block w-full">
                <span>S</span>
                <span class="product-sizes--sold-out">M</span>
                <span>L</span>
              </span>
            </div>
            <a data-pr-href class="full-width-link" href="/products/asos-ridley-high-waist"></a>
          </div>
          <div class="product-info">
            <div class="product-info__inner">
              <h3 class="product-title">
                <a data-pr-href href="/products/asos-ridley-high-waist">Ridley High Waist</a>
              </h3>
              <div class="product-price" data-pr-price>$36.00</div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="product pr-grid pr-style1 pr-7001787990222  col-item"
        data-product-options='{ "id":"7001787990222","cusQty":"1","available":true, "handle":"blush-beanie", "isDefault": false, "VariantFirstID": 41167812722894, "customBadge":null, "customBadgeHandle":null,"dateStart":1651800370, "compare_at_price":null,"price":1500, "isPreoder":false,"isExternal":false,"image2":"\/\/demo-kalles-4-1.myshopify.com\/cdn\/shop\/products\/acndb3127517966_q1_2-0_1a1dac3d-a619-462e-8846-e28f9706d326.jpg?v=1652168839\u0026width=1","alt":"Blush Beanie","isGrouped":false,"maxQuantity":9999 }'
      >
        <div class="product-wrapper" timeline hdt-reveal="slide-in">
          <div data-cacl-slide class="product-inner relative overflow-hidden">
            <div class="product-img ratio" data-style="--aspect-ratioapt: 0.7833333333333333">
              <img
                data-pr-img
                class="product-main-img lazyload"
                loading="lazy"
                src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                data-src="//demo-kalles-4-1.myshopify.com/cdn/shop/products/acndb3127517966_q3_2-0_63ec1a1b-3f15-4a68-84fc-0f04edc4b676.jpg?v=1652168839&width=1"
                data-widths="[100,200,330,400,500,600,700,800,900]"
                data-optimumx="2"
                data-sizes="auto"
                width="1128"
                height="1440"
                alt="Blush Beanie"
              >
              <span class="lazyload-loader"></span>
              <div data-replace-img2></div>
              <noscript>
                <img
                  class="product-main-img"
                  loading="lazy"
                  src="//demo-kalles-4-1.myshopify.com/cdn/shop/products/acndb3127517966_q3_2-0_63ec1a1b-3f15-4a68-84fc-0f04edc4b676.jpg?v=1652168839&width=600"
                  alt="Blush Beanie"
                >
              </noscript>
            </div>
            <div data-product-badge data-sort="sale,new,soldout,preOrder,custom" class="product-badge"></div>
            <div class="product-btns">
              <div data-replace-quickview></div>
              <div data-replace-atc data-has-qty></div>
            </div>
            <div class="product-btns2">
              <div data-replace-wishlist data-tooltip="right"></div>
              <div data-replace-compare data-tooltip="right"></div>
            </div>
            <div class="product-sizes">
              <span class="truncate d-block w-full">
                <span>S</span>
                <span>M</span>
                <span>L</span>
              </span>
            </div>
            <a data-pr-href class="full-width-link" href="/products/blush-beanie"></a>
          </div>
          <div class="product-info">
            <div class="product-info__inner">
              <h3 class="product-title">
                <a data-pr-href href="/products/blush-beanie">Blush Beanie</a>
              </h3>
              <div class="product-price" data-pr-price>$15.00</div>
              <div
                class="product-colors"
                data-color-options='{ "color_count":3, "color_variants":["Grey","Pink","Black"], "color_variants_avai":["Grey","Pink","Black"], "color_variants_handle":["grey","pink","black"], "img_variants":["\/\/demo-kalles-4-1.myshopify.com\/cdn\/shop\/products\/acndb3127517966_q1_2-0_1a1dac3d-a619-462e-8846-e28f9706d326.jpg?v=1652168839","\/\/demo-kalles-4-1.myshopify.com\/cdn\/shop\/products\/acndb3127517966_q3_2-0_63ec1a1b-3f15-4a68-84fc-0f04edc4b676.jpg?v=1652168839","\/\/demo-kalles-4-1.myshopify.com\/cdn\/shop\/products\/acndb3127517966_q1_2-0_1a1dac3d-a619-462e-8846-e28f9706d326.jpg?v=1652168839","\/\/demo-kalles-4-1.myshopify.com\/cdn\/shop\/products\/pr1-pink-3_b86d9255-a26f-488b-a3da-f15a1e3854b4.jpg?v=1654661948","\/\/demo-kalles-4-1.myshopify.com\/cdn\/shop\/products\/pr1-pink-2_83b0439e-3e8b-4cd9-bbb7-5deabe60f0e0.jpg?v=1654661948","\/\/demo-kalles-4-1.myshopify.com\/cdn\/shop\/products\/pr1-pink-3_b86d9255-a26f-488b-a3da-f15a1e3854b4.jpg?v=1654661948","\/\/demo-kalles-4-1.myshopify.com\/cdn\/shop\/products\/ragbo452081071c_q1_2-0_6747ba03-6811-44d4-8cb1-87a785b9bb8a.jpg?v=1652168839","\/\/demo-kalles-4-1.myshopify.com\/cdn\/shop\/products\/ragbo452081071c_q2_2-0_c0a9259b-f8cf-4ca1-8b91-0a713b0db706.jpg?v=1652168839","\/\/demo-kalles-4-1.myshopify.com\/cdn\/shop\/products\/ragbo452081071c_q1_2-0_6747ba03-6811-44d4-8cb1-87a785b9bb8a.jpg?v=1652168839"], "id_variants":[41167812722894,41167812755662,41167812788430,41167812821198,41167812853966,41167812886734,41167812919502,41167812952270,41167812985038], "img_ratios":[0.7833333333333333,0.7833333333333333,0.7833333333333333,0.7833333333333333,0.7833333333333333,0.7833333333333333,0.7833333333333333,0.7833333333333333,0.7833333333333333], "img_options":["Grey","Grey","Grey","Pink","Pink","Pink","Black","Black","Black"] }'
              >
                <span class="pr-color__item">
                  <span class="pr-color__value bg_color_ntloading"></span>
                </span>
                <span class="pr-color__item">
                  <span class="pr-color__value bg_color_ntloading"></span>
                </span>
                <span class="pr-color__item">
                  <span class="pr-color__value bg_color_ntloading"></span>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="product pr-grid pr-style1 pr-7001788842190  col-item"
        data-product-options='{ "id":"7001788842190","cusQty":"1","available":true, "handle":"cluse-la-boheme-rose-gold", "isDefault": false, "VariantFirstID": 41167815016654, "customBadge":null, "customBadgeHandle":null,"dateStart":1651800449, "compare_at_price":6000,"price":4500, "isPreoder":false,"isExternal":false,"image2":"\/\/demo-kalles-4-1.myshopify.com\/cdn\/shop\/products\/cinqa31079186d2_q5_2-0_082d5692-7308-4e0e-b3e6-5b74a2d23873.jpg?v=1652168744\u0026width=1","alt":"Cluse La Boheme Rose Gold","isGrouped":false,"maxQuantity":9999 }'
      >
        <div class="product-wrapper" timeline hdt-reveal="slide-in">
          <div data-cacl-slide class="product-inner relative overflow-hidden">
            <div class="product-img ratio" data-style="--aspect-ratioapt: 0.7833333333333333">
              <img
                data-pr-img
                class="product-main-img lazyload"
                loading="lazy"
                src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                data-src="//demo-kalles-4-1.myshopify.com/cdn/shop/products/cinqa31079186d2_q1_2-0_8236c050-0b73-45e4-a750-7ba93e1b269d.jpg?v=1652168744&width=1"
                data-widths="[100,200,330,400,500,600,700,800,900]"
                data-optimumx="2"
                data-sizes="auto"
                width="1128"
                height="1440"
                alt="Cluse La Boheme Rose Gold"
              >
              <span class="lazyload-loader"></span>
              <div data-replace-img2></div>
              <noscript>
                <img
                  class="product-main-img"
                  loading="lazy"
                  src="//demo-kalles-4-1.myshopify.com/cdn/shop/products/cinqa31079186d2_q1_2-0_8236c050-0b73-45e4-a750-7ba93e1b269d.jpg?v=1652168744&width=600"
                  alt="Cluse La Boheme Rose Gold"
                >
              </noscript>
            </div>
            <div data-product-badge data-sort="sale,new,soldout,preOrder,custom" class="product-badge"></div>
            <div class="product-btns">
              <div data-replace-quickview></div>
              <div data-replace-atc data-has-qty></div>
            </div>
            <div class="product-btns2">
              <div data-replace-wishlist data-tooltip="right"></div>
              <div data-replace-compare data-tooltip="right"></div>
            </div>
            <div class="product-sizes">
              <span class="truncate d-block w-full">
                <span>XS</span>
                <span>S</span>
                <span>M</span>
              </span>
            </div>
            <a data-pr-href class="full-width-link" href="/products/cluse-la-boheme-rose-gold"></a>
          </div>
          <div class="product-info">
            <div class="product-info__inner">
              <h3 class="product-title">
                <a data-pr-href href="/products/cluse-la-boheme-rose-gold">Cluse La Boheme Rose Gold</a>
              </h3>
              <div class="product-price" data-pr-price>
                <del>$60.00</del>
                <ins>$45.00</ins>
              </div>
              <div
                class="product-colors"
                data-color-options='{ "color_count":3, "color_variants":["Green","Grey","Blue"], "color_variants_avai":["Green","Grey","Blue"], "color_variants_handle":["green","grey","blue"], "img_variants":["\/\/demo-kalles-4-1.myshopify.com\/cdn\/shop\/products\/cinqa31079186d2_q1_2-0_8236c050-0b73-45e4-a750-7ba93e1b269d.jpg?v=1652168744","\/\/demo-kalles-4-1.myshopify.com\/cdn\/shop\/products\/cinqa31079186d2_q5_2-0_082d5692-7308-4e0e-b3e6-5b74a2d23873.jpg?v=1652168744","\/\/demo-kalles-4-1.myshopify.com\/cdn\/shop\/products\/cinqa31079186d2_q1_2-0_8236c050-0b73-45e4-a750-7ba93e1b269d.jpg?v=1652168744","\/\/demo-kalles-4-1.myshopify.com\/cdn\/shop\/products\/pr2-sliver_20f3e4db-caa0-4ebf-bfc3-1224d2eba71d.jpg?v=1652168744","\/\/demo-kalles-4-1.myshopify.com\/cdn\/shop\/products\/pr2-sliver_20f3e4db-caa0-4ebf-bfc3-1224d2eba71d.jpg?v=1652168744","\/\/demo-kalles-4-1.myshopify.com\/cdn\/shop\/products\/pr2-blue-2_b79887ea-6e6c-432f-8b0e-b1c4c808017d.jpg?v=1652168744"], "id_variants":[41167815016654,41167815049422,41167815082190,41167815114958,41167815180494,41167815213262], "img_ratios":[0.7833333333333333,0.7833333333333333,0.7833333333333333,0.7833333333333333,0.7833333333333333,0.7833333333333333], "img_options":["Green","Green","Green","Grey","Grey","Blue"] }'
              >
                <span class="pr-color__item">
                  <span class="pr-color__value bg_color_ntloading"></span>
                </span>
                <span class="pr-color__item">
                  <span class="pr-color__value bg_color_ntloading"></span>
                </span>
                <span class="pr-color__item">
                  <span class="pr-color__value bg_color_ntloading"></span>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="product pr-grid pr-style1 pr-7001788285134  col-item"
        data-product-options='{ "id":"7001788285134","cusQty":"1","available":true, "handle":"mercury-tee", "isDefault": false, "VariantFirstID": 41167813542094, "customBadge":null, "customBadgeHandle":null,"dateStart":1651800415, "compare_at_price":null,"price":6800, "isPreoder":false,"isExternal":false,"image2":"\/\/demo-kalles-4-1.myshopify.com\/cdn\/shop\/products\/famer2052212158_q3_2-0_f7c5e359-3b0b-4b9b-8d59-a942a2ada36d.jpg?v=1652168784\u0026width=1","alt":"Mercury Tee","isGrouped":false,"maxQuantity":9999 }'
      >
        <div class="product-wrapper" timeline hdt-reveal="slide-in">
          <div data-cacl-slide class="product-inner relative overflow-hidden">
            <div class="product-img ratio" data-style="--aspect-ratioapt: 0.7838776928422516">
              <img
                data-pr-img
                class="product-main-img lazyload"
                loading="lazy"
                src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                data-src="//demo-kalles-4-1.myshopify.com/cdn/shop/products/famer2052212158_q1_2-1_26f6b1d8-3197-4c2b-9230-2247b4c15689.jpg?v=1652168784&width=1"
                data-widths="[100,200,330,400,500,600,700,800,900]"
                data-optimumx="2"
                data-sizes="auto"
                width="1128"
                height="1439"
                alt="Mercury Tee"
              >
              <span class="lazyload-loader"></span>
              <div data-replace-img2></div>
              <noscript>
                <img
                  class="product-main-img"
                  loading="lazy"
                  src="//demo-kalles-4-1.myshopify.com/cdn/shop/products/famer2052212158_q1_2-1_26f6b1d8-3197-4c2b-9230-2247b4c15689.jpg?v=1652168784&width=600"
                  alt="Mercury Tee"
                >
              </noscript>
            </div>
            <div data-product-badge data-sort="sale,new,soldout,preOrder,custom" class="product-badge"></div>
            <div class="product-btns">
              <div data-replace-quickview></div>
              <div data-replace-atc data-has-qty></div>
            </div>
            <div class="product-btns2">
              <div data-replace-wishlist data-tooltip="right"></div>
              <div data-replace-compare data-tooltip="right"></div>
            </div>
            <div class="product-sizes">
              <span class="truncate d-block w-full">
                <span>S</span>
                <span>M</span>
              </span>
            </div>
            <a data-pr-href class="full-width-link" href="/products/mercury-tee"></a>
          </div>
          <div class="product-info">
            <div class="product-info__inner">
              <h3 class="product-title">
                <a data-pr-href href="/products/mercury-tee">Mercury Tee</a>
              </h3>
              <div class="product-price" data-pr-price>$68.00</div>
              <div
                class="product-colors"
                data-color-options='{ "color_count":2, "color_variants":["White Cream","Heart Dotted"], "color_variants_avai":["White Cream","Heart Dotted"], "color_variants_handle":["white-cream","heart-dotted"], "img_variants":["\/\/demo-kalles-4-1.myshopify.com\/cdn\/shop\/products\/famer2052212158_q1_2-1_26f6b1d8-3197-4c2b-9230-2247b4c15689.jpg?v=1652168784","\/\/demo-kalles-4-1.myshopify.com\/cdn\/shop\/products\/famer2052212158_q1_2-1_26f6b1d8-3197-4c2b-9230-2247b4c15689.jpg?v=1652168784","\/\/demo-kalles-4-1.myshopify.com\/cdn\/shop\/products\/efact3049488160_q1_2-0_159cd995-6804-4da0-a004-1d8cc5ac32d7.jpg?v=1652168784","\/\/demo-kalles-4-1.myshopify.com\/cdn\/shop\/products\/efact3049488160_q1_2-0_159cd995-6804-4da0-a004-1d8cc5ac32d7.jpg?v=1652168784"], "id_variants":[41167813542094,41167813574862,41167813607630,41167813640398], "img_ratios":[0.7838776928422516,0.7838776928422516,0.7838776928422516,0.7838776928422516], "img_options":["White Cream","White Cream","Heart Dotted","Heart Dotted"] }'
              >
                <span class="pr-color__item">
                  <span class="pr-color__value bg_color_ntloading"></span>
                </span>
                <span class="pr-color__item">
                  <span class="pr-color__value bg_color_ntloading"></span>
                </span>
                <span class="pr-color__item">
                  <span class="pr-color__value bg_color_ntloading"></span>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="product pr-grid pr-style1 pr-7001788022990  col-item"
        data-product-options='{ "id":"7001788022990","cusQty":"1","available":true, "handle":"la-boheme-rose-gold", "isDefault": false, "VariantFirstID": 41167813017806, "customBadge":null, "customBadgeHandle":null,"dateStart":1651800382, "compare_at_price":6000,"price":4000, "isPreoder":false,"isExternal":false,"image2":"\/\/demo-kalles-4-1.myshopify.com\/cdn\/shop\/products\/p24-12_b2546235-782d-4fa9-88e8-c63282bb6178.jpg?v=1652168825\u0026width=1","alt":"La Bohème Rose Gold","isGrouped":false,"maxQuantity":9999 }'
      >
        <div class="product-wrapper" timeline hdt-reveal="slide-in">
          <div data-cacl-slide class="product-inner relative overflow-hidden">
            <div class="product-img ratio" data-style="--aspect-ratioapt: 0.7837837837837838">
              <img
                data-pr-img
                class="product-main-img lazyload"
                loading="lazy"
                src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                data-src="//demo-kalles-4-1.myshopify.com/cdn/shop/products/p24-11_ec0dcf2b-dcc4-48cf-8b3e-71c6945984db.jpg?v=1652168825&width=1"
                data-widths="[100,200,330,400,500,600,700,800,900]"
                data-optimumx="2"
                data-sizes="auto"
                width="870"
                height="1110"
                alt="La Bohème Rose Gold"
              >
              <span class="lazyload-loader"></span>
              <div data-replace-img2></div>
              <noscript>
                <img
                  class="product-main-img"
                  loading="lazy"
                  src="//demo-kalles-4-1.myshopify.com/cdn/shop/products/p24-11_ec0dcf2b-dcc4-48cf-8b3e-71c6945984db.jpg?v=1652168825&width=600"
                  alt="La Bohème Rose Gold"
                >
              </noscript>
            </div>
            <div data-product-badge data-sort="sale,new,soldout,preOrder,custom" class="product-badge"></div>
            <div class="product-btns">
              <div data-replace-quickview></div>
              <div data-replace-atc data-has-qty></div>
            </div>
            <div class="product-btns2">
              <div data-replace-wishlist data-tooltip="right"></div>
              <div data-replace-compare data-tooltip="right"></div>
            </div>
            <a data-pr-href class="full-width-link" href="/products/la-boheme-rose-gold"></a>
          </div>
          <div class="product-info">
            <div class="product-info__inner">
              <h3 class="product-title">
                <a data-pr-href href="/products/la-boheme-rose-gold">La Bohème Rose Gold</a>
              </h3>
              <div class="product-price" data-pr-price>
                <del>$60.00</del>
                <ins>$40.00</ins>
              </div>
              <div
                class="product-colors"
                data-color-options='{ "color_count":2, "color_variants":["Pink","Black"], "color_variants_avai":["Pink","Black"], "color_variants_handle":["pink","black"], "img_variants":["\/\/demo-kalles-4-1.myshopify.com\/cdn\/shop\/products\/p24-11_ec0dcf2b-dcc4-48cf-8b3e-71c6945984db.jpg?v=1652168825","\/\/demo-kalles-4-1.myshopify.com\/cdn\/shop\/products\/p24-21_9f730ef4-e4b8-4e49-acbc-442da80c3a52.jpg?v=1652168825"], "id_variants":[41167813017806,41167813050574], "img_ratios":[0.7837837837837838,0.7837837837837838], "img_options":["Pink","Black"] }'
              >
                <span class="pr-color__item">
                  <span class="pr-color__value bg_color_ntloading"></span>
                </span>
                <span class="pr-color__item">
                  <span class="pr-color__value bg_color_ntloading"></span>
                </span>
                <span class="pr-color__item">
                  <span class="pr-color__value bg_color_ntloading"></span>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="product pr-grid pr-style1 pr-7001789169870  col-item"
        data-product-options='{ "id":"7001789169870","cusQty":"1","available":true, "handle":"short-sleeved-step-hem", "isDefault": true, "VariantFirstID": 41167815704782, "customBadge":null, "customBadgeHandle":null,"dateStart":1651800497, "compare_at_price":null,"price":3500, "isPreoder":false,"isExternal":false,"image2":"\/\/demo-kalles-4-1.myshopify.com\/cdn\/shop\/products\/jbran4197212122_q1_2-0_dfc90e0a-387b-4025-973f-f6c5468fd041.jpg?v=1652168692\u0026width=1","alt":"Cream women pants","isGrouped":false,"maxQuantity":9999 }'
      >
        <div class="product-wrapper" timeline hdt-reveal="slide-in">
          <div data-cacl-slide class="product-inner relative overflow-hidden">
            <div class="product-img ratio" data-style="--aspect-ratioapt: 0.7838776928422516">
              <img
                data-pr-img
                class="product-main-img lazyload"
                loading="lazy"
                src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                data-src="//demo-kalles-4-1.myshopify.com/cdn/shop/products/jbran4197212122_q3_2-0_9638778a-2964-45a4-a3b4-082727699a7a.jpg?v=1652168692&width=1"
                data-widths="[100,200,330,400,500,600,700,800,900]"
                data-optimumx="2"
                data-sizes="auto"
                width="1128"
                height="1439"
                alt="Cream women pants"
              >
              <span class="lazyload-loader"></span>
              <div data-replace-img2></div>
              <noscript>
                <img
                  class="product-main-img"
                  loading="lazy"
                  src="//demo-kalles-4-1.myshopify.com/cdn/shop/products/jbran4197212122_q3_2-0_9638778a-2964-45a4-a3b4-082727699a7a.jpg?v=1652168692&width=600"
                  alt="Cream women pants"
                >
              </noscript>
            </div>
            <div data-product-badge data-sort="sale,new,soldout,preOrder,custom" class="product-badge"></div>
            <div class="product-btns">
              <div data-replace-quickview></div>
              <div data-replace-atc data-has-qty></div>
            </div>
            <div class="product-btns2">
              <div data-replace-wishlist data-tooltip="right"></div>
              <div data-replace-compare data-tooltip="right"></div>
            </div>
            <a data-pr-href class="full-width-link" href="/products/short-sleeved-step-hem"></a>
          </div>
          <div class="product-info">
            <div class="product-info__inner">
              <h3 class="product-title">
                <a data-pr-href href="/products/short-sleeved-step-hem">Cream women pants</a>
              </h3>
              <div class="product-price" data-pr-price>$35.00</div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="product pr-grid pr-style1 pr-7001788088526  col-item"
        data-product-options='{ "id":"7001788088526","cusQty":"1","available":true, "handle":"pieces-high-neck-knitted-sweater", "isDefault": true, "VariantFirstID": 41167813181646, "customBadge":null, "customBadgeHandle":null,"dateStart":1651800390, "compare_at_price":null,"price":5000, "isPreoder":false,"isExternal":false,"image2":"\/\/demo-kalles-4-1.myshopify.com\/cdn\/shop\/products\/5-2_07311eca-89ee-4f69-a680-277f83660c3e.png?v=1652168806\u0026width=1","alt":"Black mountain hat","isGrouped":false,"maxQuantity":9999 }'
      >
        <div class="product-wrapper" timeline hdt-reveal="slide-in">
          <div data-cacl-slide class="product-inner relative overflow-hidden">
            <div class="product-img ratio" data-style="--aspect-ratioapt: 0.8287841191066998">
              <img
                data-pr-img
                class="product-main-img lazyload"
                loading="lazy"
                src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                data-src="//demo-kalles-4-1.myshopify.com/cdn/shop/products/5-1_952def73-ea55-44e5-950c-4283004f72e3.png?v=1652168806&width=1"
                data-widths="[100,200,330,400,500,600,700,800,900]"
                data-optimumx="2"
                data-sizes="auto"
                width="668"
                height="806"
                alt="Black mountain hat"
              >
              <span class="lazyload-loader"></span>
              <div data-replace-img2></div>
              <noscript>
                <img
                  class="product-main-img"
                  loading="lazy"
                  src="//demo-kalles-4-1.myshopify.com/cdn/shop/products/5-1_952def73-ea55-44e5-950c-4283004f72e3.png?v=1652168806&width=600"
                  alt="Black mountain hat"
                >
              </noscript>
            </div>
            <div data-product-badge data-sort="sale,new,soldout,preOrder,custom" class="product-badge"></div>
            <div class="product-btns">
              <div data-replace-quickview></div>
              <div data-replace-atc data-has-qty></div>
            </div>
            <div class="product-btns2">
              <div data-replace-wishlist data-tooltip="right"></div>
              <div data-replace-compare data-tooltip="right"></div>
            </div>
            <a data-pr-href class="full-width-link" href="/products/pieces-high-neck-knitted-sweater"></a>
          </div>
          <div class="product-info">
            <div class="product-info__inner">
              <h3 class="product-title">
                <a data-pr-href href="/products/pieces-high-neck-knitted-sweater">Black mountain hat</a>
              </h3>
              <div class="product-price" data-pr-price>$50.00</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="prs-footer has-btn-load-more text-center">
      <div data-wrap-lm class="pagination-wrapper w-full">
        <a
          data-load-more
          timeline
          hdt-reveal="slide-in"
          href="/?page=2"
          class="relative loadmore-btn btn-loading__svg btn btn-base btn-style-outline btn-size-large btn-icon-false btn-color-dark btn-effect-sweep-to-right "
        >
          <span class="btn-atc_text">Load More</span>
          <div class="loading__spinner dn">
            <svg
              width="16"
              height="16"
              aria-hidden="true"
              focusable="false"
              role="presentation"
              class="svg__spinner"
              viewBox="0 0 66 66"
              xmlns="http://www.w3.org/2000/svg"
            >
              <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
            </svg>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
<style>
  .pr-style10 .product-inner .product-img {
    border-radius: 50%;
    overflow: hidden;
  }

  .pr-style10 .product-inner:before {
    border-radius: 50%;
  }

  .product.pr-style10 .product-badge {
    right: 0;
  }

  .badge_shape_3 .product.pr-style10 .product-badge > span {
    border-radius: 0px;
    height: 30px;
    padding: 0 6px;
    min-width: 60px;
    font-size: 14px !important;
    font-weight: 400;
    color: #fefefe;
  }

  @media (max-width: 1024px) {
    .pr-style2.pr-style10 .product-btns .pr-item-btn {
      margin: 0 3px;
    }
  }
</style>

{% schema %}
{
  "name": "section-trending-products",
  "settings": [],
  "presets": [
    {
      "name": "section-trending-products",
      "settings": {}
    }
  ]
}
{% endschema %}
