<!-- sections/blog-post.liquid -->
<link
  href="{{ 'section.css' | asset_url }}"
  rel="stylesheet"
  type="text/css"
  media="all"
>
<link
  href="{{ 'blog.css' | asset_url }}"
  rel="stylesheet"
  type="text/css"
  media="all"
>
<link
  href="{{ 'slider-settings.css' | asset_url }}"
  rel="stylesheet"
  type="text/css"
  media="all"
>
<link
  href="{{ 'pre_flickity.css' | asset_url }}"
  rel="stylesheet"
  type="text/css"
  media="all"
>
<link
  href="{{ 'custom-effect.css' | asset_url }}"
  rel="stylesheet"
  media="print"
  onload="this.media='all'"
>
<link
  href="{{ 'loading.css' | asset_url }}"
  rel="stylesheet"
  media="print"
  onload="this.media='all'"
>
<div
  data-not-main
  data-ntajax-options='{"id":"template--15319830495438__16460368750174c54a","type":"AjaxDefault","isProduct":false}'
  class="section-inner nt_se_template--15319830495438__16460368750174c54a nt_se_template--15319830495438__16460368750174c54a se_template--15319830495438__16460368750174c54a container-wrap"
  style="--bg-color: ;--bg-gradient: ;--border-cl: ;--mg-top: ;--mg-right: auto;--mg-bottom: 105px;--mg-left:auto;--pd-top: ;--pd-right: ;--pd-bottom: ;--pd-left: ;--mgtb-top: ;--mgtb-right: auto;--mgtb-bottom: 105px;--mgtb-left: auto;--pdtb-top: ;--pdtb-right: ;--pdtb-bottom: ;--pdtb-left: ;--mgmb-top: ;--mgmb-right: auto;--mgmb-bottom: 30px;--mgmb-left: auto;--pdmb-top: ;--pdmb-right: ;--pdmb-bottom: ;--pdmb-left: ;"
>
  <div class="container">
    <div class="top-head">
      <link
        href="{{ 'top-head.css' | asset_url }}"
        rel="stylesheet"
        type="text/css"
        media="all"
      >
      <div
        timeline
        hdt-reveal="slide-in"
        class="top-heading des_title_2 text-center "
        style="--heading-height: px;--tophead_mb: 30px;"
      >
        <div class="heading-testimonials-star ">
          <h3 class="section-title title">
            <span>LATES FROM BLOG</span>
          </h3>
        </div>
        <span class="section-des subtitle">The freshest and most exciting news</span>
      </div>
    </div>
    <div
      class="
        flicky-slider blog_slider has_post_des_1 ratio-4x3 position_8 cover text-start slider-btn-style-outline slider-btn-round slider-btn-small slider-btn-cl-dark slider-btn-vi-always slider-btn-hidden-mobile-false
        row row-cols-lg-3 row-cols-md-2 row-cols-1 ts-gx-md-30 ts-gy-md-30 ts-gx-10 ts-gy-10  flickity
      "
      data-flickity-js='{"setPrevNextButtons":true,"arrowIcon":"1","imagesLoaded": 0,"adaptiveHeight": 0, "contain": 1, "groupCells": "100%", "dragThreshold" : 5, "cellAlign": "left","wrapAround": false,"prevNextButtons": true,"percentPosition": 1,"pageDots": false, "autoPlay" : 0, "pauseAutoPlayOnHover" : true }'
      style="--space-dots: 10px;--flickity-btn-pos: 30px;--flickity-btn-pos-mb: 10px;"
    >
      <!-- "Spring – Summer Trending 2020" -->
      <article class="col-item post post-item post-des-1">
        <div class="post-inner" timeline hdt-reveal="slide-in">
          <div class="post-thumb">
            <a
              class="eff eff-border-run eff-img-translateToTop d-block"
              href="/blogs/fashion/spring-summer-trending-2020"
            >
              <div
                class="ratio bg-11"
                style="background: url(//demo-kalles-4-1.myshopify.com/cdn/shop/articles/1-7-1.jpg?v=1653267169&width=1);--aspect-ratioapt: 1.4988290398126465"
                data-cacl-slide
              >
                <img
                  class="lazyload lz--fadeIn obj-eff"
                  data-src="//demo-kalles-4-1.myshopify.com/cdn/shop/articles/1-7-1.jpg?v=1653267169&width=1"
                  data-widths="[100,200,400,600,700,800,900,1000,1200,1400,1600]"
                  data-optimumx="2"
                  data-sizes="auto"
                  src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                  width="1920"
                  height="1281"
                  alt="Spring – Summer Trending 2020"
                >
              </div>
            </a>
          </div>
          <div class="post-info">
            <h3 class="post-title">
              <a href="/blogs/fashion/spring-summer-trending-2020" class="post-text-color"
                >Spring – Summer Trending 2020</a
              >
            </h3>
            <div class="post-metas">
              <span class="post-author">
                <span class="post-author__text dib">By</span>
                <span class="author-name">admin</span>
              </span>
              <span class="post-time">
                <span class="post-time__text dib">on</span>
                <span>
                  <time datetime="2022-05-11T02:31:49Z">May 11, 2022</time>
                </span>
              </span>
            </div>
          </div>
          <div class="post-content rte">
            <div class="Polaris-Layout__Section_1b1h1">
              <div class="Polaris-Card_yis1o">
                <div class="Polaris-Card__Section_1b1h1">
                  <div class="Polaris-TextContainer_szg8b">
                    <p>
                      <span
                        >Typography is the work of typesetters, compositors, typographers, graphic designers, art
                        directors, manga artists, ...</span
                      >
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="Polaris-Layout__Section_1b1h1 Polaris-Layout__Section--secondary_1sx8i">
              <div class="Polaris-Card_yis1o">
                <div class="Polaris-Card__Section_1b1h1">
                  <div class="Polaris-TextContainer_szg8b">
                    <div class="Polaris-Labelled--hidden_riqie">
                      <div
                        class="Polaris-DropZone_1ehhx Polaris-DropZone--hasOutline_1z0fh Polaris-DropZone--sizeLarge_61dxo"
                        aria-disabled="false"
                      >
                        <div class="Polaris-DropZone__Container_13mbo">
                          <div class="gouVM">
                            <div class="Polaris-DropZone-FileUpload_1fbjx">
                              <div class="Polaris-Stack_32wu2 Polaris-Stack--vertical_uiuuj Polaris-Stack--spacingTight_1o4d6">
                                <div class="Polaris-Stack__Item_yiyol"></div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </article>
      <!-- "The Easiest Way to Break Out on Top" -->
      <article class="col-item post post-item post-des-1">
        <div class="post-inner" timeline hdt-reveal="slide-in">
          <div class="post-thumb">
            <a
              class="eff eff-border-run eff-img-translateToTop d-block"
              href="/blogs/fashion/the-easiest-way-to-break-out-on-top"
            >
              <div
                class="ratio bg-11"
                style="background: url(//demo-kalles-4-1.myshopify.com/cdn/shop/articles/2_18a7b802-d113-43bd-9e51-78373333370c-7-1.jpg?v=1653267096&width=1);--aspect-ratioapt: 1.4988290398126465"
                data-cacl-slide
              >
                <img
                  class="lazyload lz--fadeIn obj-eff"
                  data-src="//demo-kalles-4-1.myshopify.com/cdn/shop/articles/2_18a7b802-d113-43bd-9e51-78373333370c-7-1.jpg?v=1653267096&width=1"
                  data-widths="[100,200,400,600,700,800,900,1000,1200,1400,1600]"
                  data-optimumx="2"
                  data-sizes="auto"
                  src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                  width="1920"
                  height="1281"
                  alt="The Easiest Way to Break Out on Top"
                >
              </div>
            </a>
          </div>
          <div class="post-info">
            <h3 class="post-title">
              <a href="/blogs/fashion/the-easiest-way-to-break-out-on-top" class="post-text-color"
                >The Easiest Way to Break Out on Top</a
              >
            </h3>
            <div class="post-metas">
              <span class="post-author">
                <span class="post-author__text dib">By</span>
                <span class="author-name">admin</span>
              </span>
              <span class="post-time">
                <span class="post-time__text dib">on</span>
                <span>
                  <time datetime="2022-05-11T02:31:32Z">May 11, 2022</time>
                </span>
              </span>
            </div>
          </div>
          <div class="post-content rte">
            <span
              >Typography is the work of typesetters, compositors, typographers, graphic designers, art directors, manga
              artists, ...</span
            >
          </div>
        </div>
      </article>
      <!-- "Style for couple in Weeding season" -->
      <article class="col-item post post-item post-des-1">
        <div class="post-inner" timeline hdt-reveal="slide-in">
          <div class="post-thumb">
            <a
              class="eff eff-border-run eff-img-translateToTop d-block"
              href="/blogs/fashion/style-for-couple-in-weeding-season"
            >
              <div
                class="ratio bg-11"
                style="background: url(//demo-kalles-4-1.myshopify.com/cdn/shop/articles/couple-7-1.jpg?v=1653267115&width=1);--aspect-ratioapt: 1.5"
                data-cacl-slide
              >
                <img
                  class="lazyload lz--fadeIn obj-eff"
                  data-src="//demo-kalles-4-1.myshopify.com/cdn/shop/articles/couple-7-1.jpg?v=1653267115&width=1"
                  data-widths="[100,200,400,600,700,800,900,1000,1200,1400,1600]"
                  data-optimumx="2"
                  data-sizes="auto"
                  src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                  width="1920"
                  height="1280"
                  alt="Style for couple in Weeding season"
                >
              </div>
            </a>
          </div>
          <div class="post-info">
            <h3 class="post-title">
              <a href="/blogs/fashion/style-for-couple-in-weeding-season" class="post-text-color"
                >Style for couple in Weeding season</a
              >
            </h3>
            <div class="post-metas">
              <span class="post-author">
                <span class="post-author__text dib">By</span>
                <span class="author-name">admin</span>
              </span>
              <span class="post-time">
                <span class="post-time__text dib">on</span>
                <span>
                  <time datetime="2022-05-11T02:30:47Z">May 11, 2022</time>
                </span>
              </span>
            </div>
          </div>
          <div class="post-content rte">
            <p>
              <span
                >Typography is the work of typesetters, compositors, typographers, graphic designers, art directors,
                manga artists, ...</span
              >
            </p>
          </div>
        </div>
      </article>
    </div>
    <div class="blog-footer has-btn-none text-center">
      <a
        class="btn btn-base viewall-btn btn-base btn-style-outline btn-size-medium btn-icon-true btn-color-dark btn-effect-fade "
        href="/blogs/fashion"
      >
        View All
        <svg class="btn-icon" viewBox="0 0 14 10">
          <use href="#icon-btn"></use>
        </svg>
      </a>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "section-best-blog",
  "settings": [],
  "presets": [
    {
      "name": "section-best-blog",
      "settings": {}
    }
  ]
}
{% endschema %}
