<!-- sections/instagram-shop.liquid -->
<link
  href="{{ 'section.css' | asset_url }}"
  rel="stylesheet"
  type="text/css"
  media="all">
<link
  href="{{ 'pre_flickity.css' | asset_url }}"
  rel="stylesheet"
  type="text/css"
  media="all">
<link
  href="{{ 'instagram-pin.css' | asset_url }}"
  rel="stylesheet"
  type="text/css"
  media="all">
<link
  href="{{ 'collection-products.css' | asset_url }}"
  rel="stylesheet"
  type="text/css"
  media="all">
<link
  href="{{ 'slider-settings.css' | asset_url }}"
  rel="stylesheet"
  type="text/css"
  media="all">
<link
  href="{{ 'button-style.css' | asset_url }}"
  rel="stylesheet"
  type="text/css"
  media="all">
<link
  href="{{ 'base_drop.css' | asset_url }}"
  rel="stylesheet"
  media="print"
  onload="this.media='all'">
<div class="section-inner nt_se_template--15319830495438__1646209857bf69e76a se_template--15319830495438__1646209857bf69e76a container-fluid" style="--bg-color: ;--bg-gradient: ;--border-cl: ;--mg-top: ;--mg-right: auto;--mg-bottom: ;--mg-left:auto;--pd-top: ;--pd-right: ;--pd-bottom: ;--pd-left: ;--mgtb-top: ;--mgtb-right: auto;--mgtb-bottom: ;--mgtb-left: auto;--pdtb-top: ;--pdtb-right: ;--pdtb-bottom: ;--pdtb-left: ;--mgmb-top: ;--mgmb-right: auto;--mgmb-bottom: ;--mgmb-left: auto;--pdmb-top: ;--pdmb-right: ;--pdmb-bottom: ;--pdmb-left: ;">
  <link
    href="{{ 'top-head.css' | asset_url }}"
    rel="stylesheet"
    type="text/css"
    media="all">
  <div
    timeline
    hdt-reveal="slide-in"
    class="top-heading des_title_2 text-center "
    style="--heading-height: px;--tophead_mb: 20px;">
    <div class="heading-testimonials-star ">
      <h3 class="section-title title">
        <span>@ FOLLOW US ON INSTAGRAM</span>
      </h3>
    </div>
  </div>
  <div
    class="ins-shop flicky-slider row cover ratio-1x1 position_8 row-cols-lg-6 row-cols-md-3 row-cols-2 ts-gx-md-0 ts-gy-md-0 ts-gx-0 ts-gy-0 slider-btn-style-outline slider-btn-round slider-btn-small slider-btn-cl-default slider-btn-vi-always slider-btn-hidden-mobile-false flickity"
    data-flickity-js='{ "arrowIcon":"1","imagesLoaded": 0,"adaptiveHeight": 0, "contain": 1, "groupCells": "100%", "dragThreshold" : 5, "cellAlign": "left","wrapAround": false,"prevNextButtons": true,"percentPosition": 1,"pageDots": false, "autoPlay" : 0, "pauseAutoPlayOnHover" : true }'
    style="--space-dots: 10px;--flickity-btn-pos: 0px;--flickity-btn-pos-mb: 0px;">
    <div
      class="col-item ins-item"
      id="b_1646209857c01ad255-1"
      data-select-flickity>
      <div
        class="ins-wrap relative overflow-hidden"
        timeline
        hdt-reveal="slide-in">
        <div data-href="" data-target="_blank">
          <div class="ratio" style="background: url(//demo-kalles-4-1.myshopify.com/cdn/shop/files/ins8_2022-03-02.jpg?v=1652058019&width=1);--aspect-ratioapt: 1.0; --br-rdu: 0%;">
            <img
              class="lazyload lz--fadeIn"
              data-src="//demo-kalles-4-1.myshopify.com/cdn/shop/files/ins8_2022-03-02.jpg?v=1652058019&width=1"
              data-widths="[100,200,400,600,700,800,900,1000,1200,1400,1600]"
              data-optimumx="2"
              data-sizes="auto"
              src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
              width="360"
              height="360"
              alt="">
          </div>
        </div>
        <span
          data-bid="7001785270478"
          data-pin-popup
          data-position="top"
          data-is-pr
          data-href="/products/ribbed-stripe-top"
          data-sid="render-pr_lb6"
          class="lookbook-pin ins-pin is-type__pr"
          style="--ps-top: 39%;--ps-left: 38%;">
          <span class="zoompin"></span>
          <span class="hotspot-ins hotspot-dark">1</span>
        </span>
      </div>
    </div>
    <div
      class="col-item ins-item"
      id="b_1646209857c01ad255-4"
      data-select-flickity>
      <div
        class="ins-wrap relative overflow-hidden"
        timeline
        hdt-reveal="slide-in">
        <div data-href="" data-target="_blank">
          <div class="ratio" style="background: url(//demo-kalles-4-1.myshopify.com/cdn/shop/files/ins7_2022-03-02.jpg?v=1652058019&width=1);--aspect-ratioapt: 1.0; --br-rdu: 0%;">
            <img
              class="lazyload lz--fadeIn"
              data-src="//demo-kalles-4-1.myshopify.com/cdn/shop/files/ins7_2022-03-02.jpg?v=1652058019&width=1"
              data-widths="[100,200,400,600,700,800,900,1000,1200,1400,1600]"
              data-optimumx="2"
              data-sizes="auto"
              src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
              width="360"
              height="360"
              alt="">
          </div>
        </div>
        <span
          data-bid="7001787924686"
          data-pin-popup
          data-position="top"
          data-is-pr
          data-href="/products/wide-fit-dusty"
          data-sid="render-pr_lb6"
          class="lookbook-pin ins-pin is-type__pr"
          style="--ps-top: 74%;--ps-left: 37%;">
          <span class="zoompin"></span>
          <span class="hotspot-ins hotspot-dark">1</span>
        </span>
      </div>
    </div>
    <div
      class="col-item ins-item"
      id="b_1646209857c01ad255-2"
      data-select-flickity>
      <div
        class="ins-wrap relative overflow-hidden"
        timeline
        hdt-reveal="slide-in">
        <div data-href="" data-target="_blank">
          <div class="ratio" style="background: url(//demo-kalles-4-1.myshopify.com/cdn/shop/files/ins6_2022-03-02.jpg?v=1652058019&width=1);--aspect-ratioapt: 1.0; --br-rdu: 0%;">
            <img
              class="lazyload lz--fadeIn"
              data-src="//demo-kalles-4-1.myshopify.com/cdn/shop/files/ins6_2022-03-02.jpg?v=1652058019&width=1"
              data-widths="[100,200,400,600,700,800,900,1000,1200,1400,1600]"
              data-optimumx="2"
              data-sizes="auto"
              src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
              width="360"
              height="360"
              alt="">
          </div>
        </div>
        <span
          data-bid="7001787957454"
          data-pin-popup
          data-position="top"
          data-is-pr
          data-href="/products/short-sleeved-hoodie"
          data-sid="render-pr_lb6"
          class="lookbook-pin ins-pin is-type__pr"
          style="--ps-top: 30%;--ps-left: 60%;">
          <span class="zoompin"></span>
          <span class="hotspot-ins hotspot-dark">1</span>
        </span>
        <span
          data-bid="7001785401550"
          data-pin-popup
          data-position="top"
          data-is-pr
          data-href="/products/retro-lace-up-sneakers"
          data-sid="render-pr_lb6"
          class="lookbook-pin ins-pin is-type__pr"
          style="--ps-top: 95%;--ps-left: 43%;">
          <span class="zoompin"></span>
          <span class="hotspot-ins hotspot-dark">2</span>
        </span>
      </div>
    </div>
    <div
      class="col-item ins-item"
      id="b_1646209857c01ad255-3"
      data-select-flickity>
      <div
        class="ins-wrap relative overflow-hidden"
        timeline
        hdt-reveal="slide-in">
        <div data-href="" data-target="_blank">
          <div class="ratio" style="background: url(//demo-kalles-4-1.myshopify.com/cdn/shop/files/ins5_2022-03-02.jpg?v=1652058019&width=1);--aspect-ratioapt: 1.0; --br-rdu: 0%;">
            <img
              class="lazyload lz--fadeIn"
              data-src="//demo-kalles-4-1.myshopify.com/cdn/shop/files/ins5_2022-03-02.jpg?v=1652058019&width=1"
              data-widths="[100,200,400,600,700,800,900,1000,1200,1400,1600]"
              data-optimumx="2"
              data-sizes="auto"
              src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
              width="360"
              height="360"
              alt="">
          </div>
        </div>
        <span
          data-bid="7001785434318"
          data-pin-popup
          data-position="top"
          data-is-pr
          data-href="/products/striped-long-sleeve-top"
          data-sid="render-pr_lb6"
          class="lookbook-pin ins-pin is-type__pr"
          style="--ps-top: 50%;--ps-left: 50%;">
          <span class="zoompin"></span>
          <span class="hotspot-ins hotspot-dark">1</span>
        </span>
      </div>
    </div>
    <div
      class="col-item ins-item"
      id="b_1646209857c01ad255-5"
      data-select-flickity>
      <div
        class="ins-wrap relative overflow-hidden"
        timeline
        hdt-reveal="slide-in">
        <div data-href="" data-target="_blank">
          <div class="ratio" style="background: url(//demo-kalles-4-1.myshopify.com/cdn/shop/files/ins4_2022-03-02.jpg?v=1652058019&width=1);--aspect-ratioapt: 1.0; --br-rdu: 0%;">
            <img
              class="lazyload lz--fadeIn"
              data-src="//demo-kalles-4-1.myshopify.com/cdn/shop/files/ins4_2022-03-02.jpg?v=1652058019&width=1"
              data-widths="[100,200,400,600,700,800,900,1000,1200,1400,1600]"
              data-optimumx="2"
              data-sizes="auto"
              src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
              width="360"
              height="360"
              alt="">
          </div>
        </div>
        <span
          data-bid="7001785368782"
          data-pin-popup
          data-position="top"
          data-is-pr
          data-href="/products/long-sleeve-tie-front-top"
          data-sid="render-pr_lb6"
          class="lookbook-pin ins-pin is-type__pr"
          style="--ps-top: 34%;--ps-left: 74%;">
          <span class="zoompin"></span>
          <span class="hotspot-ins hotspot-dark">1</span>
        </span>
      </div>
    </div>
    <div
      class="col-item ins-item"
      id="b_1646209857c01ad255-0"
      data-select-flickity>
      <div
        class="ins-wrap relative overflow-hidden"
        timeline
        hdt-reveal="slide-in">
        <div data-href="" data-target="_blank">
          <div class="ratio" style="background: url(//demo-kalles-4-1.myshopify.com/cdn/shop/files/ins3_2022-03-02.jpg?v=1652058019&width=1);--aspect-ratioapt: 1.0; --br-rdu: 0%;">
            <img
              class="lazyload lz--fadeIn"
              data-src="//demo-kalles-4-1.myshopify.com/cdn/shop/files/ins3_2022-03-02.jpg?v=1652058019&width=1"
              data-widths="[100,200,400,600,700,800,900,1000,1200,1400,1600]"
              data-optimumx="2"
              data-sizes="auto"
              src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
              width="360"
              height="360"
              alt="">
          </div>
        </div>
        <span
          data-bid="7001785630926"
          data-pin-popup
          data-position="top"
          data-is-pr
          data-href="/products/high-waist-straight-leg"
          data-sid="render-pr_lb6"
          class="lookbook-pin ins-pin is-type__pr"
          style="--ps-top: 65%;--ps-left: 50%;">
          <span class="zoompin"></span>
          <span class="hotspot-ins hotspot-dark">1</span>
        </span>
      </div>
    </div>
    <div
      class="col-item ins-item"
      id="b_0051dfa6-432d-4e58-b343-7e0752f68b80"
      data-select-flickity>
      <div
        class="ins-wrap relative overflow-hidden"
        timeline
        hdt-reveal="slide-in">
        <div data-href="" data-target="_blank">
          <div class="ratio" style="background: url(//demo-kalles-4-1.myshopify.com/cdn/shop/files/ins2_2022-03-02.jpg?v=1652058019&width=1);--aspect-ratioapt: 1.0; --br-rdu: 0%;">
            <img
              class="lazyload lz--fadeIn"
              data-src="//demo-kalles-4-1.myshopify.com/cdn/shop/files/ins2_2022-03-02.jpg?v=1652058019&width=1"
              data-widths="[100,200,400,600,700,800,900,1000,1200,1400,1600]"
              data-optimumx="2"
              data-sizes="auto"
              src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
              width="360"
              height="360"
              alt="">
          </div>
        </div>
        <span
          data-bid="7001785598158"
          data-pin-popup
          data-position="top"
          data-is-pr
          data-href="/products/high-waist-skinny-jean"
          data-sid="render-pr_lb6"
          class="lookbook-pin ins-pin is-type__pr"
          style="--ps-top: 50%;--ps-left: 56%;">
          <span class="zoompin"></span>
          <span class="hotspot-ins hotspot-dark">1</span>
        </span>
      </div>
    </div>
    <div
      class="col-item ins-item"
      id="b_ae083dc7-4338-494b-8f4b-e764a38d2a97"
      data-select-flickity>
      <div
        class="ins-wrap relative overflow-hidden"
        timeline
        hdt-reveal="slide-in">
        <div data-href="" data-target="_blank">
          <div class="ratio" style="background: url(//demo-kalles-4-1.myshopify.com/cdn/shop/files/ins1_2022-03-02.jpg?v=1652058019&width=1);--aspect-ratioapt: 1.0; --br-rdu: 0%;">
            <img
              class="lazyload lz--fadeIn"
              data-src="//demo-kalles-4-1.myshopify.com/cdn/shop/files/ins1_2022-03-02.jpg?v=1652058019&width=1"
              data-widths="[100,200,400,600,700,800,900,1000,1200,1400,1600]"
              data-optimumx="2"
              data-sizes="auto"
              src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
              width="360"
              height="360"
              alt="">
          </div>
        </div>
        <span
          data-bid="7001789104334"
          data-pin-popup
          data-position="top"
          data-is-pr
          data-href="/products/woleen-tee"
          data-sid="render-pr_lb6"
          class="lookbook-pin ins-pin is-type__pr"
          style="--ps-top: 45%;--ps-left: 36%;">
          <span class="zoompin"></span>
          <span class="hotspot-ins hotspot-dark">1</span>
        </span>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "section-instagram-shop",
    "settings": [],
    "presets": [
      {
        "name": "section-instagram-shop",
        "settings": {}
      }
    ]
  }
{% endschema %}