<!-- sections/featured-collection.liquid -->
<link
  href="{{ 'section.css' | asset_url }}"
  rel="stylesheet"
  type="text/css"
  media="all"
>
<link
  href="{{ 'collection-products.css' | asset_url }}"
  rel="stylesheet"
  type="text/css"
  media="all"
>
<link
  href="{{ 'slider-settings.css' | asset_url }}"
  rel="stylesheet"
  type="text/css"
  media="all"
>
<link
  href="{{ 'pre_flickity.css' | asset_url }}"
  rel="stylesheet"
  type="text/css"
  media="all"
>
<link
  href="{{ 'loading.css' | asset_url }}"
  rel="stylesheet"
  media="print"
  onload="this.media='all'"
>
<div
  data-not-main
  data-ntajax-options='{"id":"template--15319830495438__164603686708691778","type":"AjaxDefault","isProduct":true}'
  class="section-inner nt_se_template--15319830495438__164603686708691778 se_template--15319830495438__164603686708691778 container-wrap "
  style="--bg-color: ;--bg-gradient: ;--border-cl: ;--mg-top: ;--mg-right: auto;--mg-bottom: 85px;--mg-left:auto;--pd-top: ;--pd-right: ;--pd-bottom: ;--pd-left: ;--mgtb-top: ;--mgtb-right: auto;--mgtb-bottom: 85px;--mgtb-left: auto;--pdtb-top: ;--pdtb-right: ;--pdtb-bottom: ;--pdtb-left: ;--mgmb-top: ;--mgmb-right: auto;--mgmb-bottom: 25px;--mgmb-left: auto;--pdmb-top: ;--pdmb-right: ;--pdmb-bottom: ;--pdmb-left: ;"
>
  <div class="container">
    <link
      href="{{ 'top-head.css' | asset_url }}"
      rel="stylesheet"
      type="text/css"
      media="all"
    >
    <div
      timeline
      hdt-reveal="slide-in"
      class="top-heading des_title_2 text-center "
      style="--heading-height: px;--tophead_mb: 30px;"
    >
      <div class="heading-testimonials-star ">
        <h3 class="section-title title">
          <span>BEST SELLER</span>
        </h3>
      </div>
      <span class="section-des subtitle">Top sale in this week</span>
    </div>
    <link
      href="{{ 'button-style.css' | asset_url }}"
      rel="stylesheet"
      type="text/css"
      media="all"
    >
    <link
      href="{{ 'custom-effect.css' | asset_url }}"
      rel="stylesheet"
      media="print"
      onload="this.media='all'"
    >
    <div
      data-collection-url="/collections/denim"
      data-contentlm-replace
      class="box_pr_grid products justify-content-center text-default ratio-nt position_8 cover row row-cols-lg-4 row-cols-md-2 row-cols-2 gx-md-30 gy-md-30 gx-10 gy-10"
    >
      <div
        class="product pr-grid pr-style1 pr-7001787891918  col-item"
        data-product-options='{ "id":"7001787891918","cusQty":"1","available":true, "handle":"city-backpack-black", "isDefault": true, "VariantFirstID": 41167812559054, "customBadge":null, "customBadgeHandle":null,"dateStart":1651800350, "compare_at_price":null,"price":5500, "isPreoder":false,"isExternal":false,"image2":"\/\/demo-kalles-4-1.myshopify.com\/cdn\/shop\/products\/p27-2_b0d58c2b-6b2c-4b11-b4b7-2ab82024ea6e.jpg?v=1652173590\u0026width=1","alt":"City Backpack Black","isGrouped":false,"maxQuantity":9999 }'
      >
        <div
          class="product-wrapper"
          timeline
          hdt-reveal="slide-in"
        >
          <div data-cacl-slide class="product-inner relative overflow-hidden">
            <div class="product-img ratio" data-style="--aspect-ratioapt: 0.7837837837837838">
              <img
                data-pr-img
                class="product-main-img lazyload"
                loading="lazy"
                src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                data-src="//demo-kalles-4-1.myshopify.com/cdn/shop/products/p27-1_1bcb95c6-a3da-4de5-b15e-ec08d4cb84b9.jpg?v=1652173590&width=1"
                data-widths="[100,200,330,400,500,600,700,800,900]"
                data-optimumx="2"
                data-sizes="auto"
                width="870"
                height="1110"
                alt="City Backpack Black"
              >
              <span class="lazyload-loader"></span>
              <div data-replace-img2></div>
              <noscript>
                <img
                  class="product-main-img"
                  loading="lazy"
                  src="//demo-kalles-4-1.myshopify.com/cdn/shop/products/p27-1_1bcb95c6-a3da-4de5-b15e-ec08d4cb84b9.jpg?v=1652173590&width=600"
                  alt="City Backpack Black"
                >
              </noscript>
            </div>
            <div
              data-product-badge
              data-sort="sale,new,soldout,preOrder,custom"
              class="product-badge"
            ></div>
            <div class="product-btns">
              <div data-replace-quickview></div>
              <div data-replace-atc data-has-qty></div>
            </div>
            <div class="product-btns2">
              <div data-replace-wishlist data-tooltip="right"></div>
              <div data-replace-compare data-tooltip="right"></div>
            </div>
            <a
              data-pr-href
              class="full-width-link"
              href="/products/city-backpack-black"
            ></a>
          </div>
          <div class="product-info">
            <div class="product-info__inner">
              <h3 class="product-title">
                <a data-pr-href href="/products/city-backpack-black">City Backpack Black</a>
              </h3>
              <div class="product-price" data-pr-price>$55.00</div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="product pr-grid pr-style1 pr-7001789006030  col-item"
        data-product-options='{ "id":"7001789006030","cusQty":"1","available":true, "handle":"skinny-jeans-in-black", "isDefault": true, "VariantFirstID": 41167815540942, "customBadge":null, "customBadgeHandle":null,"dateStart":1651800476, "compare_at_price":null,"price":10000, "isPreoder":false,"isExternal":false,"image2":"\/\/demo-kalles-4-1.myshopify.com\/cdn\/shop\/products\/frame3152712631_q1_2-0_d5f231ab-df1e-4c0e-8973-d7405ec15f97.jpg?v=1652168714\u0026width=1","alt":"Women Black Pants","isGrouped":false,"maxQuantity":9999 }'
      >
        <div
          class="product-wrapper"
          timeline
          hdt-reveal="slide-in"
        >
          <div data-cacl-slide class="product-inner relative overflow-hidden">
            <div class="product-img ratio" data-style="--aspect-ratioapt: 0.7838776928422516">
              <img
                data-pr-img
                class="product-main-img lazyload"
                loading="lazy"
                src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                data-src="//demo-kalles-4-1.myshopify.com/cdn/shop/products/frame3152712631_q4_2-0_d2575847-8e6d-4ff1-a802-4cf48f59dfab.jpg?v=1652168714&width=1"
                data-widths="[100,200,330,400,500,600,700,800,900]"
                data-optimumx="2"
                data-sizes="auto"
                width="1128"
                height="1439"
                alt="Women Black Pants"
              >
              <span class="lazyload-loader"></span>
              <div data-replace-img2></div>
              <noscript>
                <img
                  class="product-main-img"
                  loading="lazy"
                  src="//demo-kalles-4-1.myshopify.com/cdn/shop/products/frame3152712631_q4_2-0_d2575847-8e6d-4ff1-a802-4cf48f59dfab.jpg?v=1652168714&width=600"
                  alt="Women Black Pants"
                >
              </noscript>
            </div>
            <div
              data-product-badge
              data-sort="sale,new,soldout,preOrder,custom"
              class="product-badge"
            ></div>
            <div class="product-btns">
              <div data-replace-quickview></div>
              <div data-replace-atc data-has-qty></div>
            </div>
            <div class="product-btns2">
              <div data-replace-wishlist data-tooltip="right"></div>
              <div data-replace-compare data-tooltip="right"></div>
            </div>
            <a
              data-pr-href
              class="full-width-link"
              href="/products/skinny-jeans-in-black"
            ></a>
          </div>
          <div class="product-info">
            <div class="product-info__inner">
              <h3 class="product-title">
                <a data-pr-href href="/products/skinny-jeans-in-black">Women Black Pants</a>
              </h3>
              <div class="product-price" data-pr-price>$100.00</div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="product pr-grid pr-style1 pr-7001788285134  col-item"
        data-product-options='{ "id":"7001788285134","cusQty":"1","available":true, "handle":"mercury-tee", "isDefault": false, "VariantFirstID": 41167813542094, "customBadge":null, "customBadgeHandle":null,"dateStart":1651800415, "compare_at_price":null,"price":6800, "isPreoder":false,"isExternal":false,"image2":"\/\/demo-kalles-4-1.myshopify.com\/cdn\/shop\/products\/famer2052212158_q3_2-0_f7c5e359-3b0b-4b9b-8d59-a942a2ada36d.jpg?v=1652168784\u0026width=1","alt":"Mercury Tee","isGrouped":false,"maxQuantity":9999 }'
      >
        <div
          class="product-wrapper"
          timeline
          hdt-reveal="slide-in"
        >
          <div data-cacl-slide class="product-inner relative overflow-hidden">
            <div class="product-img ratio" data-style="--aspect-ratioapt: 0.7838776928422516">
              <img
                data-pr-img
                class="product-main-img lazyload"
                loading="lazy"
                src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                data-src="//demo-kalles-4-1.myshopify.com/cdn/shop/products/famer2052212158_q1_2-1_26f6b1d8-3197-4c2b-9230-2247b4c15689.jpg?v=1652168784&width=1"
                data-widths="[100,200,330,400,500,600,700,800,900]"
                data-optimumx="2"
                data-sizes="auto"
                width="1128"
                height="1439"
                alt="Mercury Tee"
              >
              <span class="lazyload-loader"></span>
              <div data-replace-img2></div>
              <noscript>
                <img
                  class="product-main-img"
                  loading="lazy"
                  src="//demo-kalles-4-1.myshopify.com/cdn/shop/products/famer2052212158_q1_2-1_26f6b1d8-3197-4c2b-9230-2247b4c15689.jpg?v=1652168784&width=600"
                  alt="Mercury Tee"
                >
              </noscript>
            </div>
            <div
              data-product-badge
              data-sort="sale,new,soldout,preOrder,custom"
              class="product-badge"
            ></div>
            <div class="product-btns">
              <div data-replace-quickview></div>
              <div data-replace-atc data-has-qty></div>
            </div>
            <div class="product-btns2">
              <div data-replace-wishlist data-tooltip="right"></div>
              <div data-replace-compare data-tooltip="right"></div>
            </div>
            <div class="product-sizes">
              <span class="truncate d-block w-full">
                <span>S</span>
                <span>M</span>
              </span>
            </div>
            <a
              data-pr-href
              class="full-width-link"
              href="/products/mercury-tee"
            ></a>
          </div>
          <div class="product-info">
            <div class="product-info__inner">
              <h3 class="product-title">
                <a data-pr-href href="/products/mercury-tee">Mercury Tee</a>
              </h3>
              <div class="product-price" data-pr-price>$68.00</div>
              <div
                class="product-colors"
                data-color-options='{ "color_count":2, "color_variants":["White Cream","Heart Dotted"], "color_variants_avai":["White Cream","Heart Dotted"], "color_variants_handle":["white-cream","heart-dotted"], "img_variants":["\/\/demo-kalles-4-1.myshopify.com\/cdn\/shop\/products\/famer2052212158_q1_2-1_26f6b1d8-3197-4c2b-9230-2247b4c15689.jpg?v=1652168784","\/\/demo-kalles-4-1.myshopify.com\/cdn\/shop\/products\/famer2052212158_q1_2-1_26f6b1d8-3197-4c2b-9230-2247b4c15689.jpg?v=1652168784","\/\/demo-kalles-4-1.myshopify.com\/cdn\/shop\/products\/efact3049488160_q1_2-0_159cd995-6804-4da0-a004-1d8cc5ac32d7.jpg?v=1652168784","\/\/demo-kalles-4-1.myshopify.com\/cdn\/shop\/products\/efact3049488160_q1_2-0_159cd995-6804-4da0-a004-1d8cc5ac32d7.jpg?v=1652168784"], "id_variants":[41167813542094,41167813574862,41167813607630,41167813640398], "img_ratios":[0.7838776928422516,0.7838776928422516,0.7838776928422516,0.7838776928422516], "img_options":["White Cream","White Cream","Heart Dotted","Heart Dotted"] }'
              >
                <span class="pr-color__item">
                  <span class="pr-color__value bg_color_ntloading"></span>
                </span>
                <span class="pr-color__item">
                  <span class="pr-color__value bg_color_ntloading"></span>
                </span>
                <span class="pr-color__item">
                  <span class="pr-color__value bg_color_ntloading"></span>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="product pr-grid pr-style1 pr-7001788973262  col-item"
        data-product-options='{ "id":"7001788973262","cusQty":"1","available":true, "handle":"herschel-retreat-backpack", "isDefault": false, "VariantFirstID": 41167815475406, "customBadge":null, "customBadgeHandle":null,"dateStart":1651800470, "compare_at_price":null,"price":5600, "isPreoder":false,"isExternal":false,"image2":"\/\/demo-kalles-4-1.myshopify.com\/cdn\/shop\/products\/citiz41130172ef_m3_2-0_36d9f1c2-f8d8-431b-9ee8-ac8d3f1d774c.jpg?v=1652168722\u0026width=1","alt":"Men pants","isGrouped":false,"maxQuantity":9999 }'
      >
        <div
          class="product-wrapper"
          timeline
          hdt-reveal="slide-in"
        >
          <div data-cacl-slide class="product-inner relative overflow-hidden">
            <div class="product-img ratio" data-style="--aspect-ratioapt: 0.7838776928422516">
              <img
                data-pr-img
                class="product-main-img lazyload"
                loading="lazy"
                src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                data-src="//demo-kalles-4-1.myshopify.com/cdn/shop/products/citiz41130172ef_m1_2-0_4ab86cba-d4f7-485d-9980-7b4e6287f7bc.jpg?v=1652168722&width=1"
                data-widths="[100,200,330,400,500,600,700,800,900]"
                data-optimumx="2"
                data-sizes="auto"
                width="1128"
                height="1439"
                alt="Men pants"
              >
              <span class="lazyload-loader"></span>
              <div data-replace-img2></div>
              <noscript>
                <img
                  class="product-main-img"
                  loading="lazy"
                  src="//demo-kalles-4-1.myshopify.com/cdn/shop/products/citiz41130172ef_m1_2-0_4ab86cba-d4f7-485d-9980-7b4e6287f7bc.jpg?v=1652168722&width=600"
                  alt="Men pants"
                >
              </noscript>
            </div>
            <div
              data-product-badge
              data-sort="sale,new,soldout,preOrder,custom"
              class="product-badge"
            ></div>
            <div class="product-btns">
              <div data-replace-quickview></div>
              <div data-replace-atc data-has-qty></div>
            </div>
            <div class="product-btns2">
              <div data-replace-wishlist data-tooltip="right"></div>
              <div data-replace-compare data-tooltip="right"></div>
            </div>
            <a
              data-pr-href
              class="full-width-link"
              href="/products/herschel-retreat-backpack"
            ></a>
          </div>
          <div class="product-info">
            <div class="product-info__inner">
              <h3 class="product-title">
                <a data-pr-href href="/products/herschel-retreat-backpack">Men pants</a>
              </h3>
              <div class="product-price" data-pr-price>$49.00 – $56.00</div>
              <div
                class="product-colors"
                data-color-options='{ "color_count":2, "color_variants":["Blue","Black"], "color_variants_avai":["Blue","Black"], "color_variants_handle":["blue","black"], "img_variants":["\/\/demo-kalles-4-1.myshopify.com\/cdn\/shop\/products\/citiz41130172ef_m1_2-0_4ab86cba-d4f7-485d-9980-7b4e6287f7bc.jpg?v=1652168722","\/\/demo-kalles-4-1.myshopify.com\/cdn\/shop\/products\/citiz4093612af6_m3_2-0_c986971d-913d-4e7f-99d9-c2fdd8d40955.jpg?v=1652168723"], "id_variants":[41167815475406,41167815508174], "img_ratios":[0.7838776928422516,0.7838776928422516], "img_options":["Blue","Black"] }'
              >
                <span class="pr-color__item">
                  <span class="pr-color__value bg_color_ntloading"></span>
                </span>
                <span class="pr-color__item">
                  <span class="pr-color__value bg_color_ntloading"></span>
                </span>
                <span class="pr-color__item">
                  <span class="pr-color__value bg_color_ntloading"></span>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="product pr-grid pr-style1 pr-7001787957454  col-item"
        data-product-options='{ "id":"7001787957454","cusQty":"1","available":true, "handle":"short-sleeved-hoodie", "isDefault": false, "VariantFirstID": 41167812624590, "customBadge":null, "customBadgeHandle":null,"dateStart":1651800361, "compare_at_price":4500,"price":3000, "isPreoder":false,"isExternal":false,"image2":"\/\/demo-kalles-4-1.myshopify.com\/cdn\/shop\/products\/ragbo4535819dd2_q5_2-0_09147857-3836-4dbf-a6b4-777b1738b821.jpg?v=1652168845\u0026width=1","alt":"Short Sleeved Hoodie","isGrouped":false,"maxQuantity":9999 }'
      >
        <div
          class="product-wrapper"
          timeline
          hdt-reveal="slide-in"
        >
          <div data-cacl-slide class="product-inner relative overflow-hidden">
            <div class="product-img ratio" data-style="--aspect-ratioapt: 0.7838776928422516">
              <img
                data-pr-img
                class="product-main-img lazyload"
                loading="lazy"
                src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                data-src="//demo-kalles-4-1.myshopify.com/cdn/shop/products/ragbo4535819dd2_q1_2-0_8fc35ffb-cb17-4bd0-8dba-1bf9c36588e8.jpg?v=1652168845&width=1"
                data-widths="[100,200,330,400,500,600,700,800,900]"
                data-optimumx="2"
                data-sizes="auto"
                width="1128"
                height="1439"
                alt="Short Sleeved Hoodie"
              >
              <span class="lazyload-loader"></span>
              <div data-replace-img2></div>
              <noscript>
                <img
                  class="product-main-img"
                  loading="lazy"
                  src="//demo-kalles-4-1.myshopify.com/cdn/shop/products/ragbo4535819dd2_q1_2-0_8fc35ffb-cb17-4bd0-8dba-1bf9c36588e8.jpg?v=1652168845&width=600"
                  alt="Short Sleeved Hoodie"
                >
              </noscript>
            </div>
            <div
              data-product-badge
              data-sort="sale,new,soldout,preOrder,custom"
              class="product-badge"
            ></div>
            <div class="product-btns">
              <div data-replace-quickview></div>
              <div data-replace-atc data-has-qty></div>
            </div>
            <div class="product-btns2">
              <div data-replace-wishlist data-tooltip="right"></div>
              <div data-replace-compare data-tooltip="right"></div>
            </div>
            <div class="product-sizes">
              <span class="truncate d-block w-full">
                <span>S</span>
                <span>M</span>
                <span>L</span>
              </span>
            </div>
            <a
              data-pr-href
              class="full-width-link"
              href="/products/short-sleeved-hoodie"
            ></a>
          </div>
          <div class="product-info">
            <div class="product-info__inner">
              <h3 class="product-title">
                <a data-pr-href href="/products/short-sleeved-hoodie">Short Sleeved Hoodie</a>
              </h3>
              <div class="product-price" data-pr-price>
                <del>$45.00</del>
                <ins>$30.00</ins>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="product pr-grid pr-style1 pr-7001788645582  col-item"
        data-product-options='{ "id":"7001788645582","cusQty":"1","available":true, "handle":"sweatshirt-in-geometric-print", "isDefault": false, "VariantFirstID": 41167814525134, "customBadge":null, "customBadgeHandle":null,"dateStart":1651800441, "compare_at_price":null,"price":3500, "isPreoder":false,"isExternal":false,"image2":"\/\/demo-kalles-4-1.myshopify.com\/cdn\/shop\/products\/nlota2087710739_q2_2-0_96b729c6-fd25-4cdb-807c-b5d8ceb7a0ed.jpg?v=1652168758\u0026width=1","alt":"Sweatshirt in Geometric Print","isGrouped":false,"maxQuantity":9999 }'
      >
        <div
          class="product-wrapper"
          timeline
          hdt-reveal="slide-in"
        >
          <div data-cacl-slide class="product-inner relative overflow-hidden">
            <div class="product-img ratio" data-style="--aspect-ratioapt: 0.7838776928422516">
              <img
                data-pr-img
                class="product-main-img lazyload"
                loading="lazy"
                src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                data-src="//demo-kalles-4-1.myshopify.com/cdn/shop/products/nlota2087710739_q1_2-0_3e59b313-92c4-4361-a2c9-5e889154d65b.jpg?v=1652168758&width=1"
                data-widths="[100,200,330,400,500,600,700,800,900]"
                data-optimumx="2"
                data-sizes="auto"
                width="1128"
                height="1439"
                alt="Sweatshirt in Geometric Print"
              >
              <span class="lazyload-loader"></span>
              <div data-replace-img2></div>
              <noscript>
                <img
                  class="product-main-img"
                  loading="lazy"
                  src="//demo-kalles-4-1.myshopify.com/cdn/shop/products/nlota2087710739_q1_2-0_3e59b313-92c4-4361-a2c9-5e889154d65b.jpg?v=1652168758&width=600"
                  alt="Sweatshirt in Geometric Print"
                >
              </noscript>
            </div>
            <div
              data-product-badge
              data-sort="sale,new,soldout,preOrder,custom"
              class="product-badge"
            ></div>
            <div class="product-btns">
              <div data-replace-quickview></div>
              <div data-replace-atc data-has-qty></div>
            </div>
            <div class="product-btns2">
              <div data-replace-wishlist data-tooltip="right"></div>
              <div data-replace-compare data-tooltip="right"></div>
            </div>
            <div class="product-sizes">
              <span class="truncate d-block w-full">
                <span>S</span>
                <span>M</span>
                <span>L</span>
              </span>
            </div>
            <a
              data-pr-href
              class="full-width-link"
              href="/products/sweatshirt-in-geometric-print"
            ></a>
          </div>
          <div class="product-info">
            <div class="product-info__inner">
              <h3 class="product-title">
                <a data-pr-href href="/products/sweatshirt-in-geometric-print">Sweatshirt in Geometric Print</a>
              </h3>
              <div class="product-price" data-pr-price>$35.00</div>
              <div
                class="product-colors"
                data-color-options='{ "color_count":2, "color_variants":["Black","Blue"], "color_variants_avai":["Black","Blue"], "color_variants_handle":["black","blue"], "img_variants":["\/\/demo-kalles-4-1.myshopify.com\/cdn\/shop\/products\/nlota2087710739_q1_2-0_3e59b313-92c4-4361-a2c9-5e889154d65b.jpg?v=1652168758","\/\/demo-kalles-4-1.myshopify.com\/cdn\/shop\/products\/nlota2087710739_q1_2-0_3e59b313-92c4-4361-a2c9-5e889154d65b.jpg?v=1652168758","\/\/demo-kalles-4-1.myshopify.com\/cdn\/shop\/products\/nlota2087710739_q1_2-0_3e59b313-92c4-4361-a2c9-5e889154d65b.jpg?v=1652168758","\/\/demo-kalles-4-1.myshopify.com\/cdn\/shop\/products\/mothr212721a7b0_q3_2-0_50eb8f53-c46f-4e1c-8e97-84847fdd169f.jpg?v=1652168758","\/\/demo-kalles-4-1.myshopify.com\/cdn\/shop\/products\/mothr212721a7b0_q3_2-0_50eb8f53-c46f-4e1c-8e97-84847fdd169f.jpg?v=1652168758","\/\/demo-kalles-4-1.myshopify.com\/cdn\/shop\/products\/mothr212721a7b0_q3_2-0_50eb8f53-c46f-4e1c-8e97-84847fdd169f.jpg?v=1652168758"], "id_variants":[41167814525134,41167814557902,41167814590670,41167814623438,41167814656206,41167814688974], "img_ratios":[0.7838776928422516,0.7838776928422516,0.7838776928422516,0.7838776928422516,0.7838776928422516,0.7838776928422516], "img_options":["Black","Black","Black","Blue","Blue","Blue"] }'
              >
                <span class="pr-color__item">
                  <span class="pr-color__value bg_color_ntloading"></span>
                </span>
                <span class="pr-color__item">
                  <span class="pr-color__value bg_color_ntloading"></span>
                </span>
                <span class="pr-color__item">
                  <span class="pr-color__value bg_color_ntloading"></span>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="product pr-grid pr-style1 pr-7001787728078  col-item"
        data-product-options='{ "id":"7001787728078","cusQty":"1","available":true, "handle":"dusk-pom-beanie", "isDefault": true, "VariantFirstID": 41167812362446, "customBadge":null, "customBadgeHandle":null,"dateStart":1651800290, "compare_at_price":null,"price":2500, "isPreoder":false,"isExternal":false,"image2":"\/\/demo-kalles-4-1.myshopify.com\/cdn\/shop\/products\/P31-2_1b7d20c2-5c0d-42d2-b364-203b75614bd7.jpg?v=1652168930\u0026width=1","alt":"Dusk Pom Beanie","isGrouped":false,"maxQuantity":9999 }'
      >
        <div
          class="product-wrapper"
          timeline
          hdt-reveal="slide-in"
        >
          <div data-cacl-slide class="product-inner relative overflow-hidden">
            <div class="product-img ratio" data-style="--aspect-ratioapt: 0.7837837837837838">
              <img
                data-pr-img
                class="product-main-img lazyload"
                loading="lazy"
                src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                data-src="//demo-kalles-4-1.myshopify.com/cdn/shop/products/P31-1_5836981c-592c-4265-8e86-b1ced056c32d.jpg?v=1652168930&width=1"
                data-widths="[100,200,330,400,500,600,700,800,900]"
                data-optimumx="2"
                data-sizes="auto"
                width="870"
                height="1110"
                alt="Dusk Pom Beanie"
              >
              <span class="lazyload-loader"></span>
              <div data-replace-img2></div>
              <noscript>
                <img
                  class="product-main-img"
                  loading="lazy"
                  src="//demo-kalles-4-1.myshopify.com/cdn/shop/products/P31-1_5836981c-592c-4265-8e86-b1ced056c32d.jpg?v=1652168930&width=600"
                  alt="Dusk Pom Beanie"
                >
              </noscript>
            </div>
            <div
              data-product-badge
              data-sort="sale,new,soldout,preOrder,custom"
              class="product-badge"
            ></div>
            <div class="product-btns">
              <div data-replace-quickview></div>
              <div data-replace-atc data-has-qty></div>
            </div>
            <div class="product-btns2">
              <div data-replace-wishlist data-tooltip="right"></div>
              <div data-replace-compare data-tooltip="right"></div>
            </div>
            <a
              data-pr-href
              class="full-width-link"
              href="/products/dusk-pom-beanie"
            ></a>
          </div>
          <div class="product-info">
            <div class="product-info__inner">
              <h3 class="product-title">
                <a data-pr-href href="/products/dusk-pom-beanie">Dusk Pom Beanie</a>
              </h3>
              <div class="product-price" data-pr-price>$25.00</div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="product pr-grid pr-style1 pr-7001787564238  col-item"
        data-product-options='{ "id":"7001787564238","cusQty":"1","available":true, "handle":"circle-snapback-cap", "isDefault": true, "VariantFirstID": 41167811969230, "customBadge":null, "customBadgeHandle":null,"dateStart":1651800271, "compare_at_price":null,"price":2500, "isPreoder":false,"isExternal":false,"image2":"\/\/demo-kalles-4-1.myshopify.com\/cdn\/shop\/products\/corri30058124bd_m2_2-0_0757ae09-3077-4d81-bb0f-0219a9bcd1a9.jpg?v=1652168951\u0026width=1","alt":"Circle Snapback Cap","isGrouped":false,"maxQuantity":9999 }'
      >
        <div
          class="product-wrapper"
          timeline
          hdt-reveal="slide-in"
        >
          <div data-cacl-slide class="product-inner relative overflow-hidden">
            <div class="product-img ratio" data-style="--aspect-ratioapt: 0.7833333333333333">
              <img
                data-pr-img
                class="product-main-img lazyload"
                loading="lazy"
                src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                data-src="//demo-kalles-4-1.myshopify.com/cdn/shop/products/corri30058124bd_m1_2-0_06f5b88c-f389-46ac-ad14-b1ee2716554d.jpg?v=1652168951&width=1"
                data-widths="[100,200,330,400,500,600,700,800,900]"
                data-optimumx="2"
                data-sizes="auto"
                width="1128"
                height="1440"
                alt="Circle Snapback Cap"
              >
              <span class="lazyload-loader"></span>
              <div data-replace-img2></div>
              <noscript>
                <img
                  class="product-main-img"
                  loading="lazy"
                  src="//demo-kalles-4-1.myshopify.com/cdn/shop/products/corri30058124bd_m1_2-0_06f5b88c-f389-46ac-ad14-b1ee2716554d.jpg?v=1652168951&width=600"
                  alt="Circle Snapback Cap"
                >
              </noscript>
            </div>
            <div
              data-product-badge
              data-sort="sale,new,soldout,preOrder,custom"
              class="product-badge"
            ></div>
            <div class="product-btns">
              <div data-replace-quickview></div>
              <div data-replace-atc data-has-qty></div>
            </div>
            <div class="product-btns2">
              <div data-replace-wishlist data-tooltip="right"></div>
              <div data-replace-compare data-tooltip="right"></div>
            </div>
            <a
              data-pr-href
              class="full-width-link"
              href="/products/circle-snapback-cap"
            ></a>
          </div>
          <div class="product-info">
            <div class="product-info__inner">
              <h3 class="product-title">
                <a data-pr-href href="/products/circle-snapback-cap">Circle Snapback Cap</a>
              </h3>
              <div class="product-price" data-pr-price>$25.00</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  .pr-style10 .product-inner .product-img {
    border-radius: 50%;
    overflow: hidden;
  }

  .pr-style10 .product-inner:before {
    border-radius: 50%;
  }

  .product.pr-style10 .product-badge {
    right: 0;
  }

  .badge_shape_3 .product.pr-style10 .product-badge > span {
    border-radius: 0;
    height: 30px;
    padding: 0 6px;
    min-width: 60px;
    font-size: 14px !important;
    font-weight: 400;
    color: #fefefe;
  }

  @media (max-width: 1024px) {
    .pr-style2 .pr-style10 .product-btns .pr-item-btn {
      margin: 0 3px;
    }
  }
</style>

{% schema %}
{
  "name": "section-best-product",
  "settings": [],
  "presets": [
    {
      "name": "section-best-product",
      "settings": {}
    }
  ]
}
{% endschema %}
