<!-- section/banner.liquid -->
<link
  href="{{ 'section.css' | asset_url }}"
  rel="stylesheet"
  type="text/css"
  media="all">
<link
  href="{{ 'content-position.css' | asset_url }}"
  rel="stylesheet"
  type="text/css"
  media="all">
<link
  href="{{ 'banner.css' | asset_url }}"
  rel="stylesheet"
  type="text/css"
  media="all">
<link
  href="{{ 'animation.css' | asset_url }}"
  rel="stylesheet"
  media="print"
  onload="this.media='all'">
<div class="section-inner nt_se_template--15319830495438__16460362229768af39 se_template--15319830495438__16460362229768af39 container-wrap " style="--bg-color: ;--bg-gradient: ;--border-cl: ;--mg-top: ;--mg-right: auto;--mg-bottom: 110px;--mg-left:auto;--pd-top: ;--pd-right: ;--pd-bottom: ;--pd-left: ;--mgtb-top: ;--mgtb-right: auto;--mgtb-bottom: 110px;--mgtb-left: auto;--pdtb-top: ;--pdtb-right: ;--pdtb-bottom: ;--pdtb-left: ;--mgmb-top: ;--mgmb-right: auto;--mgmb-bottom: 30px;--mgmb-left: auto;--pdmb-top: ;--pdmb-right: ;--pdmb-bottom: ;--pdmb-left: ;">
  <div class="container">
    <div class="banner-holder isotope position_8 cover equal-height-false row gx-md-30 gy-md-30 gx-10 gy-10 " data-isotope-js='{ "itemSelector": ".banner-wrap", "layoutMode": "packery" }'>
      <div class="col-item banner-wrap col-lg-6 col-md-6 col-12 bl-164603622209bd8d44-0">
        <div
          data-ts-animate
          class="banner-item eff eff-none eff-img-rotate ratioadapt cuspx1_true cuspx2_true cuspx3_true"
          style="--aspect-ratioapt: 2;--aspect-ratioaptmb: 1.8997361477572559;--aspect-ratio-cusdt : 600px;--aspect-ratio-custb : 400px;--aspect-ratio-cusmb :300px;">
          <div
            class="banner-inner"
            style="--bg-overlay:rgba(0, 0, 0, 0.0);"
            timeline
            hdt-reveal="slide-in">
            <div
              data-href=""
              data-target="_self"
              class="d-block ratio ratio_hasmb"
              style="--aspect-ratioapt: 1.8997361477572559;--aspect-ratioaptmb: 1.8997361477572559;">
              <img
                class="lazyload lz--fadeIn obj-eff d-md-none"
                data-src="//demo-kalles-4-1.myshopify.com/cdn/shop/files/5_2022-03-02.jpg?v=1652057918&width=1"
                data-widths="[100,200,400,600,700,800,900,1000,1200,1400,1600]"
                data-optimumx="2"
                data-sizes="auto"
                src="data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%20720%20379%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3C%2Fsvg%3E"
                width="720"
                height="379"
                alt="">
              <span class="lazyload-loader is-bg-img d-md-none" style="background: url(//demo-kalles-4-1.myshopify.com/cdn/shop/files/5_2022-03-02.jpg?v=1652057918&width=1)"></span>
              <img
                class="lazyload lz--fadeIn obj-eff d-none d-md-block"
                data-src="//demo-kalles-4-1.myshopify.com/cdn/shop/files/5_2022-03-02.jpg?v=1652057918&width=1"
                data-widths="[100,200,400,600,700,800,900,1000,1200,1400,1600]"
                data-optimumx="2"
                data-sizes="auto"
                src="data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%20720%20379%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3C%2Fsvg%3E"
                width="720"
                height="379"
                alt="">
              <span class="lazyload-loader is-bg-img d-none d-md-block" style="background: url(//demo-kalles-4-1.myshopify.com/cdn/shop/files/5_2022-03-02.jpg?v=1652057918&width=1)"></span>
            </div>
            <div class="banner-content content-position absolute auto pointer-events-none text-md-center text-center bg-content-false br-content-false br-style-solid" style="--time-animation:1s;--p-left:50%;--p-hx:-50%;--p-top:50%;--p-vy:-50%; --p-left-mb:50%;--p-hx-mb:-50%;--p-top-mb:50%;--p-vy-mb:-50%;">
              <p
                data-lh="24"
                data-lh-md="24"
                data-lh-lg="24"
                class="bl-item pointer-events-none animation-fadeInDownBig text-bl fnt-fm-inherit font-italic-false hidden-mobile-false br-mb-false text-shadow-false"
                id="b_164603622209bd8d44-1"
                style="--animation:fadeInDownBig ;--delay-animation:0s;--text-cl:#ffffff;--text-fs:24px;--text-fw:500;--text-lh:24px;--text-ls:0px;--text-mgb:5px;--text-fs-mb:24px;--text-lh-mb:24px;--text-ls-mb:0px;--text-mgb-mb:5px;">
                LOOKBOOK 2023
              </p>
              <p
                data-lh="24"
                data-lh-md="24"
                data-lh-lg="24"
                class="bl-item pointer-events-none animation-fadeInDownBig text-bl fnt-fm-inherit font-italic-false hidden-mobile-false br-mb-false text-shadow-false"
                id="b_164603622209bd8d44-2"
                style="--animation:fadeInDownBig ;--delay-animation:0.4s;--text-cl:#ffffff;--text-fs:14px;--text-fw:600;--text-lh:24px;--text-ls:0px;--text-mgb:5px;--text-fs-mb:14px;--text-lh-mb:24px;--text-ls-mb:0px;--text-mgb-mb:10px;">
                MAKE LOVE THIS LOOK
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-item banner-wrap col-lg-6 col-md-6 col-12 bl-164603622209bd8d44-3">
        <div
          data-ts-animate
          class="banner-item eff eff-none eff-img-translateToTop ratioadapt cuspx1_true cuspx2_true cuspx3_true"
          style="--aspect-ratioapt: 2;--aspect-ratioaptmb: 1.8997361477572559;--aspect-ratio-cusdt : 600px;--aspect-ratio-custb : 400px;--aspect-ratio-cusmb :300px;">
          <div
            class="banner-inner"
            style="--bg-overlay:rgba(0, 0, 0, 0.0);"
            timeline
            hdt-reveal="slide-in">
            <div
              data-href=""
              data-target="_self"
              class="d-block ratio ratio_hasmb"
              style="--aspect-ratioapt: 1.8997361477572559;--aspect-ratioaptmb: 1.8997361477572559;">
              <img
                class="lazyload lz--fadeIn obj-eff d-md-none"
                data-src="//demo-kalles-4-1.myshopify.com/cdn/shop/files/6_2022-03-02.jpg?v=1652057917&width=1"
                data-widths="[100,200,400,600,700,800,900,1000,1200,1400,1600]"
                data-optimumx="2"
                data-sizes="auto"
                src="data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%20720%20379%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3C%2Fsvg%3E"
                width="720"
                height="379"
                alt="">
              <span class="lazyload-loader is-bg-img d-md-none" style="background: url(//demo-kalles-4-1.myshopify.com/cdn/shop/files/6_2022-03-02.jpg?v=1652057917&width=1)"></span>
              <img
                class="lazyload lz--fadeIn obj-eff d-none d-md-block"
                data-src="//demo-kalles-4-1.myshopify.com/cdn/shop/files/6_2022-03-02.jpg?v=1652057917&width=1"
                data-widths="[100,200,400,600,700,800,900,1000,1200,1400,1600]"
                data-optimumx="2"
                data-sizes="auto"
                src="data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%20720%20379%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3C%2Fsvg%3E"
                width="720"
                height="379"
                alt="">
              <span class="lazyload-loader is-bg-img d-none d-md-block" style="background: url(//demo-kalles-4-1.myshopify.com/cdn/shop/files/6_2022-03-02.jpg?v=1652057917&width=1)"></span>
            </div>
            <div class="banner-content content-position absolute auto pointer-events-none text-md-center text-center bg-content-false br-content-false br-style-solid" style="--time-animation:1s;--p-left:50%;--p-hx:-50%;--p-top:50%;--p-vy:-50%; --p-left-mb:50%;--p-hx-mb:-50%;--p-top-mb:50%;--p-vy-mb:-50%;">
              <p
                data-lh="24"
                data-lh-md="24"
                data-lh-lg="24"
                class="bl-item pointer-events-none animation-fadeInUpBig text-bl fnt-fm-inherit font-italic-false hidden-mobile-false br-mb-false text-shadow-false"
                id="b_164603622209bd8d44-4"
                style="--animation:fadeInUpBig ;--delay-animation:0s;--text-cl:#ffffff;--text-fs:18px;--text-fw:500;--text-lh:24px;--text-ls:0px;--text-mgb:5px;--text-fs-mb:18px;--text-lh-mb:24px;--text-ls-mb:0px;--text-mgb-mb:5px;">
                SUMMER SALE
              </p>
              <p
                data-lh="50"
                data-lh-md="50"
                data-lh-lg="50"
                class="bl-item pointer-events-none animation-fadeInUpBig text-bl fnt-fm-inherit font-italic-false hidden-mobile-false br-mb-false text-shadow-false"
                id="b_164603622209bd8d44-5"
                style="--animation:fadeInUpBig ;--delay-animation:0.4s;--text-cl:#ffffff;--text-fs:50px;--text-fw:600;--text-lh:50px;--text-ls:0px;--text-mgb:0px;--text-fs-mb:50px;--text-lh-mb:50px;--text-ls-mb:0px;--text-mgb-mb:0px;">
                UP TO 70%
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<link
  href="{{ 'general-block.css' | asset_url }}"
  rel="stylesheet"
  type="text/css"
  media="all">

{% schema %}
  {
    "name": "section-lookbook",
    "settings": [],
    "presets": [
      {
        "name": "section-lookbook",
        "settings": {}
      }
    ]
  }
{% endschema %}